body.freereport {
    padding: 30px 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e74c32+0,e75e32+100 */
    background: rgb(231,76,50,0.7); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(231,76,50,0.7) 0%, rgba(231,94,50,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(231,76,50,0.7) 0%,rgba(231,94,50,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(231,76,50,0.7) 0%,rgba(231,94,50,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74c32', endColorstr='#e75e32',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


.freereport .action-form input#name:focus, .freereport .action-form input#email:focus,
.freereport .action-form input#name.filled, .freereport .action-form input#email.filled {
    border: 2px solid #e75e32;
    color: #e75e32;
}

.freereport .content > .row {
    /*background: #000;*/
}

.freereport .header .logo, .freereport .header .lic {
    text-align: center;
}

.freereport .header .lic span.licenceLeft {
    background-color: #fd442b;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.18em;
}

.freereport .text-white {
    color: white;
    font-size: 1.2em;
    text-align: center;
    margin: 10px 0;
    line-height: 1.85em;
}
.freereport .feExitRed {
    background-color: #fd442b;
    font-weight: bold;
    padding: 2px 5px;
}

.freereport .exitWarning {
    margin: 0 15px;
    font-size: 1.5em;
    line-height: 1.42857143;
    color: #3e3e3e;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
}

.freereport .exitWarning span {
    color: #fd442b;
    font-weight: bold;
}

.freereport .right_block {
    padding-right: 15px;
    padding-left: 15px;
}

.freereport .exitWarning strong {
    border-bottom: 2px dashed #e4e4e4;
}

.freereport .exitNotification {
    color: #878787;
    font-size: 1em;
    text-align: center;
    margin: 15px 15px 0 15px;
}

.freereport .action-form button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e74c32+0,e75e32+100 */
    background: rgb(231,76,50); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(231,76,50,1) 0%, rgba(231,94,50,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(231,76,50,1) 0%,rgba(231,94,50,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(231,76,50,1) 0%,rgba(231,94,50,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74c32', endColorstr='#e75e32',GradientType=1 ); /* IE6-9 */
}

.freereport .main-arrow {
    display: inherit;
    position: absolute;
    right: -60px;
    height: 97px;
    top: -97px
}

.freereport .exitDown {
    border: 2px dashed #c0c0c0;
    font-size: 1.2em;
    padding: 10px 15px;
    margin-bottom: 15px;
    text-align: center;
}

.freereport .exitDown span {
    color: #e75e32;
    font-weight: bold;
    white-space: nowrap;
}

/* lg */
@media (min-width: 1200px) {
    .freereport .header .logo {
        text-align: left;
    }

    .freereport .header .lic {
        text-align: right;
    }
}

/* FullHD and higher */
@media (min-width: 1800px) {
    .freereport .header .logo {
        width: 10%;
        padding-left: 0;
    }

    .freereport .header .text-white {
        width: 77%;
    }

    .freereport .header .lic {
        width: 13%;
    }

    .freereport .action-form button {
        width: 442px;
    }

    .freereport .main-arrow {
        right: -40px;
    }
}
