.freereport .modal-header {
    border: none;
    padding-bottom: 0;
}

.freereport .block-current-people {
    font-size: 12px;
    padding: 0 25px 15px 25px;
}

.freereport .block-current-people img {
    height: 20px;
}

.freereport .close-btn-block button {
    width: auto;
    outline: none;
}
.freereport .close-btn-block button span {
    font-size: 0.5em;
    vertical-align: middle;
}

.freereport span.licenceLeft {
    display: inline-block;
    background-color: #fd842b;
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    padding: 5px 13px;
    vertical-align: middle;
    border-radius: 50%;
}

.freereport span.licenceRight {
    display: inline-block;
    background-color: white;
    font-weight: bold;
    color: #858585;
    text-transform: uppercase;
    letter-spacing: 0.35em;
    line-height: 1.8em;
    font-size: 9px;
    text-align: center;
    padding: 10px 8px 9px 8px;
    vertical-align: middle;
}

.freereport .action-form input {
    width: 100% !important;
    margin: 0 !important;
    font-size: 0.9em !important;
}

.freereport .action-form input#name:focus, .freereport .action-form input#email:focus,
.freereport .action-form input#name.filled, .freereport .action-form input#email.filled {
    border: 2px solid #e75e32;
    color: #e75e32;
}

.freereport .feExitRed {
    background-color: #fd442b;
    font-weight: bold;
    padding: 0 3px;
    color: #fff;
}

.freereport .exitWarning {
    margin: 0 15px;
    text-transform: capitalize;
    font-size: 1.8em;
    color: #3e3e3e;
    text-align: center;
    font-weight: normal;
}

.freereport .exitWarning span {
    color: #fd442b;
    font-weight: bold;
}

.freereport .exitNotification {
    color: #878787;
    font-size: 1em;
    text-align: center;
    margin: 15px 15px 0 15px;
}

.freereport .action-form button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e74c32+0,e75e32+100 */
    background: rgb(231,76,50); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(231,76,50,1) 0%, rgba(231,94,50,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(231,76,50,1) 0%,rgba(231,94,50,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(231,76,50,1) 0%,rgba(231,94,50,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e74c32', endColorstr='#e75e32',GradientType=1 ); /* IE6-9 */
}

.freereport .main-arrow {
    display: inherit;
    position: absolute;
    right: -60px;
    height: 97px;
    top: -97px
}

.freereport .exitDown {
    border: 2px dashed #c0c0c0;
    font-size: 1.2em;
    padding: 10px 15px;
    margin-bottom: 15px;
    text-align: center;
}

.freereport .exitDown span {
    color: #e75e32;
    font-weight: bold;
    white-space: nowrap;
}
/* md */
@media (min-width: 992px) {
    .freereport .action-form .form-fields label {
        text-align: left !important;
    }
}
/* lg */
@media (min-width: 1200px) {
    .freereport .header .logo {
        text-align: left;
    }

    .freereport .header .text-white {
        text-align: right;
    }

    .freereport .header .lic {
        text-align: right;
    }
}

/* FullHD and higher */
@media (min-width: 1800px) {
    .freereport .header .logo {
        width: 10%;
    }

    .freereport .header .text-white {
        width: 77%;
    }

    .freereport .header .lic {
        width: 13%;
    }

    .freereport .action-form button {
        width: 442px;
    }

    .freereport .main-arrow {
        right: -40px;
    }
}

/* before sm */
@media (max-width: 767px) {
    #exitpopup .modal-dialog {
        top: 0;
        transform: translate(-50%, 0) !important;
        width: 98%;
        margin: 0;
    }
}

