html {
    height: 100%;
    background: url(../images/bg_dollar.jpg) no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

body.main2 .container.header {
    padding-bottom: 20px;
    padding-top: 20px;
}

body.main2 .container.header .logo.vcenter img, body.main2 .container.footer .vcenter.logo a img {
    width: 100px;
}

body.main2 .header .lic span.licenceLeft {
    display: inline-block;
    background-color: #fd842b;
    color: white;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    padding-left: 7px;
    vertical-align: middle;
}

body.main2 .header .lic span.licenceRight {
    display: inline-block;
    background-color: white;
    font-weight: bold;
    color: #858585;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    line-height: 2em;
    font-size: 0.65em;
    text-align: center;
    padding: 8px 12px;
    margin-left: 7px;
    vertical-align: middle;
}

body.main2 .content {
    position: relative;
}

body.main2 .content .corner-rectangle {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
}

body.main2 .form-title {
    font-size: 1.5em;
    padding: 5px 5px 0 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    text-align: center;
}


body.main2 .top-info-block .text-white.row {
    margin: 10px auto 10px auto;
}

body.main2 .to-uppercase {
    text-transform: uppercase;
    color: #616161;
}

body.main2 .text-bold {
    font-weight: 900;
    color: #424242;
}

body.main2 .content {
    background-color: #fafafa;
}

body.main2 .form-fields {
    margin: 0 15px;
    font-size: 1.1em;
    /*padding: 12px 0;*/
}

body.main2 input[type="text"], input[type="email"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    color: #bdbdbd;
    font-size: 1em;
}

body.main2 .form-fields .row {
    margin-bottom: 10px;
}

body.main2 .lock-text {
    font-size: 0.75em;
    font-family: 'Open Sans', sans-serif;
    color: #b0b0b0;
}

body.main2 button {
    white-space: nowrap;
    padding: 15px 0px 10px 0px;
    font-size: 0.85em;
    width: 410px;
    background: #06b6a4;
    background: -webkit-linear-gradient(45deg, #00bfa5 0%, #1de9b6 100%);
    background: -moz-linear-gradient(45deg, #00bfa5 0%, #1de9b6 100%);
    background: linear-gradient(45deg, #00bfa5 0%, #1de9b6 100%);
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 0;
    border-radius: 4px;
    cursor: hand;
    color: white;
    width: 100%;
}

body.main2 button:hover{
    background: #1de9b6;
}

body.main2 button:active{
    background: #00bfa5;
}

body.main2 .lock-text {
    margin: 10px auto 10px auto;
}

body.main2 .vtop img {
    max-width: 60px;
}

body.main2 .icons-block {
    margin-bottom: 10px;
}

body.main2 .footer {
    padding-top: 30px;
    color: #fff;
    padding-bottom: 15px;
    text-align: center;
}

body.main2 .vcenter {
    display: inline-block;
    vertical-align: middle;
}

body.main2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: white;
}

body.main2 ul > li {
    display: inline;
    margin: 0;
    padding: 0;
}

body.main2 .footer ul > li:after {
    content: ' | ';
}

body.main2 .footer ul > li:last-child:after {
    content: '';
}

body.main2 ul > li a {
    color: white;
}

body.main2 .container.footer .vcenter.logo {
    margin-bottom: 15px;
}

body.main2 .container.footer .text-right.vcenter.copyright {
    text-align: center;
}

body.main2 .container.content .left-block {
    padding: 0;
}

body.main2 .vtop {
    padding: 0;
}

body.main2 .video {
    padding: 0;
}

body.main2 .col-xs-12.col-md-3 {
    margin-bottom: 10px;
}

.join-popup {
    /* This timing applies on the way OUT */
    transition-timing-function: ease-in;

    /* Quick on the way out */
    transition: 0.4s;

    background-color: white;
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    width: 90%;
    top: -180px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    -webkit-box-shadow: 0 6px 18px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 6px 18px 1px rgba(0,0,0,0.3);
    box-shadow: 0 6px 18px 1px rgba(0,0,0,0.3);
}

.join-popup.showed {
    /* This timing applies on the way IN */
    transition-timing-function: ease-out;

    /* A litttttle slower on the way in */
    transition: 0.5s;

    top: 15px;
}

.join-popup .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}

.join-popup .time-text {
    color: #989898;
    font-size: 10px;
}

.join-popup .email-text {
    color: #d4d4d4;
    font-size: 10px;
}

/* sm */
@media (min-width: 768px) {

}

/* md */
@media (min-width: 992px) {
    body.main2 .right-block {
        background-color: #fafafa;
        height: 378px;
        width: 298px;
    }

    body.main2 .content .left-block,
    body.main2 .content .left-block .embed-responsive.embed-responsive-16by9 {
        padding:0;
        height: 378px;
        width: 672px;
    }

    body.main2 .form-title {
        font-size: 1.7em;
        margin-top: 40px;
    }

    body.main2 input[type="text"], input[type="email"] {
        padding: 3px;
    }

    body.main2 form {
        font-size: 0.75em;
    }

    body.main2 button {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.3em;
    }

    body.main2 .form-fields {
        padding: 0;
    }

    body.main2 .vtop img {
        max-width: unset;
        max-height: 22px;
    }

    body.main2 .vtop {
        margin-bottom: 10px;
    }

    body.main2 .lock-text {
        font-size: 0.95em;
    }

    body.main2 .container.header .logo.vcenter img {
        width: 150px;
    }

    body.main2 .container.footer .vcenter.menu {
        text-align: left;
    }

    body.main2 ul > li a, body.main2 .vcenter.copyright {
        font-size: 0.85em;
    }

    body.main2 .container.footer .vcenter.menu {
        padding-left: 40px;
    }

    body.main2 .container.header .logo.vcenter, body.main2 .container.header .text-right.vcenter,
    body.main2 .container.footer .vcenter.logo, body.main2 .container.footer .text-right.vcenter.copyright {
        padding: 0;
    }

    body.main2 .container.footer .vcenter.logo {
        text-align: left;
    }

    body.main2 .container.footer .text-right.vcenter.copyright {
        text-align: right;
    }

    body.main2 .video {
        padding-top: 10px;
    }

    body.main2 .video {
        padding: 10px;
    }

    .join-popup {
        width: 375px;
        bottom: -375px;
        right: 20px;
        top: auto;
        left: auto;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .join-popup.showed {
        top: auto;
        width: 375px;
        bottom: 20px;
        right: 20px;
        left: auto;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

/* lg */
@media (min-width: 1200px) {
    body.main2 .right-block {
        height: 432px;
        width: 402px;
    }

    body.main2 .content .left-block,
    body.main2 .content .left-block .embed-responsive.embed-responsive-16by9 {
        height: 432px;
        width: 768px;
    }

    body.main2 .form-title {
        font-size: 1.9em;
        margin-top: 45px;
    }

    body.main2 input[type="text"], input[type="email"] {
        padding: 10px;
    }

    body.main2 button {
        padding: 18px 0px 15px 0px;
        font-size: 1.4em;
    }
}

/* FullHD and higher */
@media (min-width: 1800px) {
    .container, body.main2 .header, body.main2 .footer {
        width: 1600px;
    }
    body.main2 .right-block {
        height: 612px;
        width: 512px;
    }

    body.main2 .content .left-block,
    body.main2 .content .left-block .embed-responsive.embed-responsive-16by9 {
        height: 612px;
        width: 1088px;
    }

    body.main2 .form-title {
        font-size: 2em;
        margin-top: 60px;
    }

    body.main2 input[type="text"], input[type="email"] {
        padding: 15px;
    }

    body.main2 .form-fields {
        font-size: 1.5em;
        margin-top: 25px;
    }

    body.main2 button {
        font-size: 1.6em;
        padding: 15px 5px 15px 5px;
    }

    body.main2 .lock-text {
        font-size: 1.2em;
    }

    body.main2 .vtop img {
        max-height: 30px;
    }
}
