@-moz-document url-prefix() {
    select.form-control {
        padding-right: 25px;
        background-image: url("../images/select.png");
        background-repeat: no-repeat;
        background-position: calc(100% - 7px) 50%;
        -moz-appearance: none;
        appearance: none;
    }
}

.membership-header input[type="text"]::-webkit-input-placeholder,
.membership-header input[type="password"]::-webkit-input-placeholder,
.membership-header input[type="email"]::-webkit-input-placeholder
{ /* Chrome/Opera/Safari */
    color: white;
}
.membership-header input[type="text"]::-moz-placeholder,
.membership-header input[type="password"]::-moz-placeholder,
.membership-header input[type="email"]::-moz-placeholder
{ /* Firefox 19+ */
    color: white;
}

.membership-header input[type="text"]:-ms-input-placeholder,
.membership-header input[type="password"]:-ms-input-placeholder,
.membership-header input[type="email"]:-ms-input-placeholder
{ /* IE 10+ */
    color: white;
}

.membership-header input[type="text"]:-moz-placeholder,
.membership-header input[type="password"]:-moz-placeholder,
.membership-header input[type="email"]:-moz-placeholder
 { /* Firefox 18- */
    color: white;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select.select-register:focus {
    border: 2px solid white;
    outline: none;
    color: white;
    border-radius: 0;
}

.embed-responsive-16by9 {
    padding-bottom: 66.25%;
}

.nav>li>a:hover {
    background-color: #2d7968;
    color: white;
}

.caret {
    margin-left: 115px !important;
    color: #a7a7a7;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.green{
    color: #2bbc98;
    font-size: 34px;
    font-weight: bold;
}

.grey{
    color: #cfcfcf;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
    font-size: 14px;
}

button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: none;
    border: 0;
    color: inherit;
    cursor: hand;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/*modal*/

.modal-content {
    border: none;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-body {
    padding: 0;
}

.modal .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    transform: translate(-50%, -50%) !important;
}

.video-popup h5 {
    position: absolute;
    top: -18%;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%);
    font-size: 26px;
    letter-spacing: 1px;
}

.video-popup p {
    position: absolute;
    top: -10%;
    color: white;
    left: 50%;
    transform: translate(-50%);
    font-size: 18px;
    letter-spacing: 2px;
}

.video-popup a {
    position: absolute;
    top: -10%;
    right: 0;
}

.video-popup {
    background: rgba(0,0,0,.7);
}

.video-popup .play-button {
    width: 7%;
}

/********************header******************************/
.membership-header{
    background: url("../images/memberShip.png") no-repeat;
    background-position: 60% 0;
    background-size: auto;
}

.membership-wrapper .header {
    margin-bottom: 1%;
}

.membership-wrapper .membership-logo {
    padding-left: 0;
    width: 9%;
    position: absolute;
    top: -70px;
}

.header-last-mrow {
    position: relative;
    margin-bottom: 28px;
}

.header-last-mrow .text-dashed {
    border-bottom: 2px dashed #dfb598;
}

.membership-wrapper{
    background-color: rgba(217, 73, 87, 0.95);
    height: 600px;
    margin-bottom: 250px;
}

.membership-welcome{
    color: #fffa69;
    margin-top: 3%;
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    text-align: center;
}

.membership-biz-area h2 {
    font-weight: 900;
    font-size: 3em;
    margin-bottom: 0;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.membership-logo + div {
    color: white;
    font-size: 2em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.membership-boxIcon {
    position: absolute;
    top: 25px;
    right: 0;
    padding-right: 0;
    width: 190px;
}

.membership-right-box {
    padding-right: 0;
    width: 160px;
}

.membership-licence-left {
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.27em;
    font-size: 0.81em;
    padding-right: 0;
    text-align: right;
}

.membership-updated{
    text-transform: uppercase;
    color: #dfb598;
    font-size: 0.75em;
    text-align: right;
    padding-right: 0;
    line-height: 1;
}

.membership-header .left_block{
    padding-right: 0;
    padding-left: 0;
    width: 61.5%;
    position: relative;
}

.membership-header .left_block p {
    color: white;
    border: 2px solid yellow;
    padding: 1% 2%;
    position: absolute;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.membership-header .yellow-arrow {
    position: absolute;
    top: -6%;
    right: 14%;
}

.left-right-container {
    -webkit-box-shadow: 12px 16px 41px -20px rgba(0,0,0,0.75);
    -moz-box-shadow: 12px 16px 41px -20px rgba(0,0,0,0.75);
    box-shadow: 12px 16px 41px -20px rgba(0,0,0,0.75);
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 11%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.membership-header .right_block {
    width: 38.5%;
    padding: 1% 2%;
    border: 4px solid #e9f16a;
    background-color: #09b6a0;
}

.register-right-text {
    width: 80%;
    padding-top: 3%;
    padding-bottom: 4%;
    text-transform: uppercase;
    font-size: 1.5625em;
    color: white;
    text-align: center;
    margin: 0 auto;
    line-height: 1;
    font-family: 'Open Sans', sans-serif;
}

.reg-bold {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}


.gaff {
    padding: 0 7% 1% 7%;
}

.gaff button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #e9f16a;
    color: #1a796d;
    font-weight: bold;
    margin: 0 auto;
    width: 90%;
    font-size: 0.6em;
    display: inline-block;
    outline: none;
}

.gaff button .row {
    margin: 25px 0;
    position: relative;
}

.gaff button .row {
    padding: 0;
}

.gaff .row .arrow {
    position: absolute;
    top: 50%;
    left: 30px;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gaff .row .arrow img {
    /*width: 60%;*/
}

.register-label {
    font-size: 12px;
    display: none;
}

.blockImg {
    padding-right: 1%;
    padding-bottom: 1%;
}

.last-chace-register .blockImg {
    padding-right: 5px;
    padding-bottom: 8px;
}

.membership-block-text {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
}

.last-chace-register .membership-block-text {
    margin-left: 0;
    text-align: center;
}

.email-reg-name, .email-reg-bestem {
    border: 2px dashed #21887b;
    padding: 6%;
    height: auto !important;
    color: white;
}

.email-Reg0 {
    font-size: 0.85em;
    margin-left: 5%;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #09b6a0;
}

.email-Reg2, .email-Reg4, .email-Reg6 {
    margin-left: 0;
}

.register-last-row {
    margin-bottom: 5%;
}

.right-block .arrow {
    text-align: center;
}

.icons-block {
    margin: 50px auto 15px auto;
}


.vtop {
    display: inline-block;
    vertical-align: top;
}


/**************quick and easy***************/

.quick-and-easy {
    padding-bottom: 30px;
}

.quick-and-easy .row {
    margin-top: 10px;
}

.quick-and-easy .licence {
    text-align: center;
    margin-left: 23%;
}

.quick-and-easy{
    background-color: white;
    height: auto;
}

.memebership_content {
    text-align: center;
    font-size: 34px;
}

.memebership_content .text1 {
    margin-bottom: 0;
}

.memebership_content .text {
    font-size: 17px;
    text-transform: uppercase;
    color: #ababab;
    letter-spacing: 1px
}

.you-here .green{
    font-size: 26px;
}

.you-here .grey {
    font-size: 14px;
}



/*************regiter deposit profit*************/

.register-deposit-profit {
    padding-right: 3%;
    padding-left: 5%;
}

.register-deposit-profit .col-md-6 {
    padding-right: 0;
}

.member-arrows {
    padding-top: 10px;
}

.first-arrow {
    position: absolute;
    left: 10px;
    top: 15px;
}

.first-arrow-add {
    position: absolute;
}

.first-num {
    position: absolute;
    top: 44px;
    font-size: 30px;
    color: white;
    left: 75px;
    font-weight: bolder;
}

.you-here {
    padding-left: 0;
}

.green-little-text {
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif
}

.arrow1 {
    position: absolute;
    right: 5%;
    top: 40px;
}

.arrow111 {
    top:40px;
}

.second-arrow {
    position: absolute;
    left: 10px;
    top: 11px;
}

.second-arrow-add {
    position: absolute;
    left: 30px;
}

.second-num {
    position: absolute;
    font-size: 30px;
    color: #686868;
    top: 35px;
    left: 63px;
}

.steps-title {
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    font-size: 26px;
}

.grey-small-text {
    font-size: 14px;
    color: #ababab;
}

.arrow-transform-left {
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    width: 180%;
}

.arrow-transform-right {
    -ms-transform: rotate(75deg); /* IE 9 */
    -webkit-transform: rotate(75deg); /* Chrome, Safari, Opera */
    transform: rotate(75deg);
    width: 180%;
}
.third-arrow {
    -ms-transform: rotate(75deg); /* IE 9 */
    -webkit-transform: rotate(75deg); /* Chrome, Safari, Opera */
    transform: rotate(75deg);
    position: absolute;
    top: -15px;
    left: 0;
}

.third-arrow-add {
    position: absolute;
    left: 15px;
    top: 2px;
}

.third-num {
    position: absolute;
    font-size: 30px;
    color: #686868;
    top: 35px;
    left: 57px;
}


/****************days**************/
.days{
    background: linear-gradient(45deg, rgb(30,192,177) 0%,rgb(39,191,164) 69%,rgb(58,189,138) 100%);
    height: auto;
    padding-bottom: 90px;
}

.membership-text {
    text-align: center;
    min-height: 345px;
}

.text-days {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #289E80;
    font-weight: bold;
    font-size: 180px;
    transform: translate(-50%, -50%);
}

.text-lower {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 38px;
    letter-spacing: 4px;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.single-item .row {
    padding: 0;
    margin: 0;
    background-color: white;
}

.single-item {
    margin-bottom: 50px;
    margin-right: 25px;
    margin-left: 25px;
    padding-left: 0;
    padding-right: 0;
    width: 30%;
    height: 560px;
    cursor: pointer;
    box-shadow: 0 16px 30px 6px rgba(0, 0, 0, .2);
}

.embed-responsive-16by9 h5 {
    position: absolute;
    bottom: 22%;
    left: 50%;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    transform: translate(-50%);
    font-size: 18px;
}

.embed-responsive-16by10 h5 {
    width: 100%;
    text-align: center;
}

.embed-responsive-16by10 p {
    left: 25%;
}

.embed-responsive-16by9 p {
    position: absolute;
    bottom: 14%;
    left: 50%;
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
    transform: translate(-50%);
    width: 100%;
    text-align: center;
}

.join-member-club {
    height: 250px;
}

.video-item {
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.video-item p{
    margin-bottom: 0;
}

.video-item h4 {
    font-size: 23px;
    margin-bottom: 30px;
    color: #3e3e3e;
}

.green-small-text {
    font-size: 23px;
    color: #2bbc98;
    font-weight: bold
}

.green-small-text1 {
    font-size: 12px;
}

.blank-text {
    font-size: 20px;
}

.blank-text:first-of-type {
    margin-top: 20px;
}

.register-btn {
    width: 100%;
    min-height: 60px;
    border: 2px solid #0eb598;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 25px;
}

.register-btn p {
    color: #0eb598;
    font-size: 13px;
    height: 30px;
    margin: 15px 15px 0 0;
}

.hover-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 0;
    transition: .5s;
}


.single-item:hover .hover-video {  opacity:1; z-index:10;
    -webkit-animation-duration:1s; animation-duration:1s;
    -webkit-animation-fill-mode:both; animation-fill-mode:both; }



/*****************last chance register*************/

.last-chace-register .qick-and-easy {
    padding-top: 150px;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.96) 72%,rgba(255,255,255,0.93) 79%,rgba(255,255,255,0.85) 100%);
}

.border-for-arrow {
    width: 50%;
    margin: 0 auto;
    border-top: 4px solid #efefef;
    position: relative;
    margin-bottom: 5%;
}

.qick-and-easy .top-arrow {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translate(-50%);
}

.qick-and-easy .grey {
    font-family: 'OpenSansLight', sans-serif;
    color: #c2c2c2;
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.6;
}

.last-chace-register .icons-block {
    width: 20%;
}

.last-chace-register .icons-block {
    margin: 15px auto 180px auto;
}

.last-chace-register {
    background-image: url("../images/Untitled-4.png");
    background-position: 200px;
}

.last-chace-register .row.quick-and-easy {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 45%, rgba(255,255,255,0.5) 100%);
}

.last-chace-register .container {
    width: 100%;
}

.last-chace-register button {
    background-color: #bc3344;
    color: white;
}

.last-chace-register .email-Reg0 {
    background-color: white;
    color: #a7a7a7;
}

.last-chace-register .email-reg-name, .last-chace-register .email-reg-bestem {
    border: 2px dashed #e4e4e4;
}

.last-chace-register input[type="text"]:focus, .last-chace-register input[type="email"]:focus,
.last-chace-register input[type="password"]:focus, .last-chace-register select.select-register:focus {
    border: 2px solid #21c0ac;
    outline: none;
    color: #21c0ac;
    border-radius: 0;
}

.last-chace-register .membership-block-text {
    color: #b0b0b0;;
}

.count-down {
    color: #3cb982;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    padding: 8px 3px;
    text-transform: initial;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
}

p.register-text {
    font-size: 34px;
    line-height: 25px;
}

.middle-form button {
    width: 30% !important;
}

.mem-first-arrow-right {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(120deg);
    margin-top: -35px;
    margin-left: 50px;
}

.mem-first-arrow-left {
    margin-top: -45px;
    text-align: right;
    right: 40px;
}

.mem-second-arrow-left {
    text-align: right;
    right: 20px;
}

.qick-and-easy .green {
    font-size: 36px;
    color: #3cb982;
    font-weight: 100;
}

.mem-second-arrow-right {
    text-align: left;
}

.mem-third-arrow-left img {
    -ms-transform: rotate(-28deg); /* IE 9 */
    -webkit-transform: rotate(-28deg); /* Chrome, Safari, Opera */
    transform: rotate(-28deg);
}

.mem-third-arrow-left {
    text-align: right;
    right: 20px;
}

.mem-third-arrow-right img {
    -ms-transform: rotate(150deg); /* IE 9 */
    -webkit-transform: rotate(150deg); /* Chrome, Safari, Opera */
    transform: rotate(150deg);
}

.arrow-reversed {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(190deg);
    margin-left: 30px;
}

.last-chace-register .gaff {
    padding: 1% 10% 1% 10%;
}

.mem-third-arrow-right {
    left: 50px;
}


/***********footer*******************/

.membership-footer ul {
    list-style-type: none;
    text-align: right;
    color: white;
}

.membership-footer li {
    margin-bottom: 15px;
}

.membership-footer h3 {
    text-align: right;
    color: white;
    margin-bottom: 20px;
}

.membership-footer .content h3 {
    color: #878787;
    text-align: left;
}

.membership-footer .content p {
    color: #878787;
    font-size: 14px;
    line-height: 2;
}

.membership-footer .container {
    padding-top: 150px;
}

.membership-footer {
    background: linear-gradient(45deg, rgb(30,192,177) 0%,rgb(39,191,164) 69%,rgb(58,189,138) 100%);
    height: auto;
    padding-bottom: 20px;
}

.membership-footer .content {
    background-color: white;
    padding: 80px 80px 92px;
    color: #878787;
    box-shadow: 0 16px 30px 6px rgba(0, 0, 0, .2);
    font-family: 'OpenSansLight', sans-serif;
    width: 65%;
}

.membership-footer .container {
    width: 100%;
}

.membership-footer .footer {
    padding-top: 50px;
    font-size: 12px;
    color:#bffff4;
}

.membership-footer .col-md-5 {
    width: 40%;
}

.membership-footer .col-md-5 h3 {
    margin-top: 20%;
    padding: 41px 0 10px;
    color: #fff;
    font-size: 37px;
    margin: 10px;
}

.membership-footer .active a {
    color: #fff;
    border-bottom: 2px dashed #b0ffed;
    padding-bottom: 6px;
}

.membership-footer a {
    padding: 3px 0;
    font-size: 20px;
    font-family: 'MontserratLight', sans-serif;
    margin: 1.2em 0 1.2em 0;
    color: #bffff4;
}

/*footer*/
.fnavigation li a{
    color:white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.fnavigation li{
    display:inline;
}
.fnavigation{
    padding-top:10px;
    padding-left: 0px;
}

.copyright {
    text-align: right;
}

.copyright p {
    text-align: center;
}

.copyright1{
    padding-top:12px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

.footer {
    color: white;
    margin-top: 70px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.footer ul > li {
    display: inline;
    margin: 0;
    padding: 0;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.copyright ul li a{
    font-size: 12px;
}

.footer ul > li:after {
    content: ' | ';
    color: #bffff4;;
}

.footer ul > li:last-child:after {
    content: '';
}

.num-for-small-res {
    display: none;
}

/**********************************************mobile/tablets/media screens***********************************************/

@media (max-width: 365px) {
    .m, .t, .v, .n {
        width: 35px;
    }

    .membership-block-text {
        text-align: center;
        width: 100% !important;
        font-size: 9px;
    }
    .member-arrows, .top-arrow {
        display: none;
    }

    .num-for-small-res {
        display: inline-block;
        padding-right: 10px;
    }

    .gaff button {
        font-size: 0.5em;
        width: 100%;
    }

    .register-right-text {
        font-size: 1.4625em;
    }

    .email-Reg0 {
        font-size: 0.7em;
    }

    .right_block form .col-xs-6 {
        width: 100%;
    }

    .you-here {
        padding-left: 0 !important;
    }

    .single-item {
        background-color: white;
    }

    .membership-text1 {
        padding-left: 0;
    }

    .membership-footer ul {
        padding-left: 0;
    }

    button .col-xs-9 {
        text-align: right !important;
    }

    .membership-wrapper .membership-logo {
        /*top: 20px !important;*/
        /*width: 25%!important;*/
    }

}

@media (min-width: 591px) and (max-width: 991px) {
    .video-poster {
        height: 410px;
    }
    .single-item {
        height: 660px !important;
    }
}

@media (max-width: 991px) {
    .membership-header .left_block, .membership-header .right_block {
        width: 100%;
    }
    .membership-block-text {
        text-align: center;
        width: 100%;
    }

    .right_block {
        padding: 0;
    }

    .border-for-arrow {
        margin-bottom: 15%;
    }

    .register-deposit-profit {
        padding-right: 0;
        padding-left: 0;
    }

    .membership-footer li {
        text-align: center;
    }

    .membership-footer .col-md-5 h3 {
        text-align: center;
        font-size: 30px;
    }

    .membership-footer .content {
        padding: 80px 10px 92px;
    }

    .membership-footer a {
        padding: 3px 0;
        font-size: 17px;
    }

    .membership-footer .content p {
        text-align: justify;
    }

    .copyright {
        width: 100%;
        text-align: center;
    }

    .embed-responsive-16by9 h5 {
        width: 100%;
        text-align: center;
    }

    .last-chace-register .qick-and-easy {
        padding-top: 50px;
    }

    .middle-form button {
        width: 100% !important;
    }

    p.register-text {
        font-size: 30px;
    }

    .email-Reg0 {
        margin-left: 0;
    }

    .last-chace-register .icons-block {
        margin: 15px auto 30px auto;
        width: 80%;
    }

    button .col-xs-9 {
        width: 100%;
        text-align: center;
    }

    .you-here {
        width: 100%;
        padding-left: 70px;
        text-align: center;
    }

    .membership-header .left_block p {
        width: 70%;
        top: 25%;
        left: 50%;
        padding: 1% 2%;
        transform: translate(-50%);
    }

    .membership-footer .content {
        width: 100%;
    }
    .membership-footer .col-md-5 {
        width: 100%;
    }

    .text-days {
        font-size: 70px;
        width: 100%;
    }

    .middle-form button {
        margin-top: 20px;
    }

    .steps-title {
        text-align: center;
    }

    .membership-wrapper {
        /*height: 1100px;*/
        /*margin-bottom: 20px;*/
        height: auto;
        margin-bottom: 40px;
    }

    .text-lower {
        font-size: 16px;
        width: 100%;
    }

    .membership-text {
        min-height: 150px;
    }

    .single-item {
        width: 90%;
        height: 530px;
        box-shadow: none;
    }

    .membership-biz-area h2 {
        font-size: 1.2em;
        margin-top: 5px;
    }

    .membership-welcome {
        font-size: 1.2em;
    }

    .membership-logo + div {
        font-size: 0.8em;
        width: 100%;
    }

    .header-last-mrow {
        margin-bottom: 20px;
    }

    .membership-wrapper .membership-logo {
        width: 12%;
        top: -20px;
    }

    .membership-boxIcon {
        width: 140px;
    }


    .membership-updated {
        font-size: 0.45em;
    }

    .membership-licence-left {
        font-size: 0.50em;
    }

    .membership-right-box {
        width: 110px;
    }

    .membership-header .left_block p {
        right: 20%;
    }

    .membership-boxIcon {
        top: 15px;
    }

    .membership-boxIcon {
        display: none;
    }

    .video-popup .modal-dialog {
        width: 80%;
    }

    .video-popup h5 {
        position: absolute;
        top: -25%;
        left: 50%;
        color: white;
        text-align: center;
        transform: translate(-50%);
        font-size: 20px;
        width: 100%;
        letter-spacing: 1px;
    }

    .video-popup p {
        font-size: 12px;
    }

    .video-popup a {
        top: -14%;
    }

    .video-popup a img{
        width: 80%;
    }

    .membership-footer .content {
        background-color: inherit;
        box-shadow: none;
    }

    .membership-footer .container {
        padding-top: 0;
        margin-top: 0;
    }

    .membership-footer .col-md-7 {
        background-color: white;
        margin-top: 350px;
    }


}

@media (min-width: 992px) and (max-width: 1096px) {
    .membership-header {
        margin-bottom: 80px !important;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {

    /*********************header********/
    .membership-logo {
        text-align: center;
    }

    .memebership_content {
        text-align: center;
        font-size: 50px;
    }

    .membership-block-text {
        font-size: 0.7em;
        margin-left: 35px;
    }

    .membership-header {
        height: 500px;
        margin-bottom: 210px;
    }

    .membership-wrapper {
        height: 500px;
    }

    .membership-header .blockMob .licence {
        padding-bottom: 20px;
        margin-top: 40px;
    }

    .membership-boxIcon div.row {
        text-align: center;
    }

    .membership-welcome {
        font-size: 1.5em;
    }

    .membership-biz-area h2 {
        font-size: 1.9em;
    }

    .membership-header .container {
        width: 98%;
    }

    .membership-wrapper .membership-logo {
        width: 12%;
        top: -50px;
    }

    .membership-logo + div {
        font-size: 1.6em;
    }

    .left-right-container {
        background-color: white;
    }

    .register-right-text {
        font-size: 1.4em;
        line-height: 20px;
    }

    .email-Reg0 {
        font-size: 0.8em;
        padding: 5.5%;
    }

    .gaff button {
        width: 97%;
        font-size: 0.45em;
    }

    .gaff button .row {
        margin: 15px 0;
    }

    span.green {
        font-size: 25px;
    }

    .second-arrow, .third-arrow-add {
        width:80%;
    }

    .first-arrow {
        width: 110px;
    }

    .text-days {
        font-size: 90px;
    }

    .membership-text {
        min-height: 120px;
    }

    .register-last-row {
        margin-bottom: 0;
    }

    .mem-third-arrow-left {
        top: -25px;
    }

    .mem-third-arrow-right {
        top: -10px;
    }

    .middle-form .membership-block-text {
        font-size: 10px;
        text-align: center;
    }

    .blockImg {
        width: 4%;
    }

    .last-chace-register .blockImg {
        width: 1.6%;
    }

    .m, .t, .v, .n {
        width: 50px;
    }

    .icons-block {
        margin: 3% auto 1% auto;
    }

    .last-chace-register .icons-block {
        margin: 15px auto 100px auto;
    }

    .membership-footer .footer {
        font-size: 11px;
    }

    .quick-and-easy + .container .row {
        text-align: center;
    }

    .quick-and-easy {
        padding-top: 10px;
    }

    .memebership_content {
        font-size: 35px;
    }

    .text-lower {
        font-size: 17px;
    }

    .membership-text {
        min-height: 160px;
        top: 14px
    }

    .first-arrow-add {
        position: absolute;
        left: 0;
    }

    .first-arrow {
        position: absolute;
        left: -30%;
        top: 10px;
    }

    .first-num {
        left: 25px;
        top: 30px;
    }

    .arrow img {
        left: 48%;
    }

    .second-arrow {
        left: 0;
        top: 20px;
    }

    .second-arrow-add {
        left: 5%;
        top: 30px;
    }

    .second-num {
        left: 35px;
        top: 30px;
    }

    .third-arrow {
        left: 0;
    }

    .third-arrow-add {
        left: 0;
        top: 14px;
    }

    .third-num {
        left: 30px;
        top: 30px;
    }

    .arrow111 {
        top: 40px;
    }

    .register-deposit-profit {
        margin-bottom: 50px;
    }

    .blockIconsMob {
        text-align: center;
        padding-bottom: 20px;
    }

    .membership-header .blockMob .licence div {
        margin-top: -20px;
    }

    .licence {
        margin-top: 200px;
    }

    .proceed {
        font-size: 11px;
    }

    .container .row .col-md-3 .row .col-md-5 {
        margin-top: 30px;
    }

    .blockMob .licence div {
        margin-top: -460px;
    }

    div.col-md-offset-3:nth-child(2) {
        margin-top: 50px;
    }

    .single-item {
        width: 44%;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 80px;
        box-shadow: 0 16px 30px 6px rgba(0, 0, 0, .2);
        height: 520px;
    }

    .embed-responsive-16by9 h5 {
        width: 100%;
        text-align: center;
    }

    .embed-responsive-16by9 h5 {
        width: 70%;
    }

    .embed-responsive-16by10 h5 {
        left: 50%;
        width: 80% !important;
        transform: translate(-50%);
    }

    .embed-responsive-16by10 p {
        bottom: 12%;
        width: 70%;
    }

    .last-chace-register .icons-block {
        width: 27%;
    }

    .last-chace-register .qick-and-easy {
        padding-top: 80px;
        padding-bottom: 0;
    }

    .qick-and-easy .grey {
        margin-bottom: 10px;
        font-size: 15px;

    }

    p.register-text {
        font-size: 25px;
        line-height: 1;
    }

    .qick-and-easy .green {
        font-size: 25px;
        color: #3cb982;
    }

    .middle-form .vtop {
        width: 15%;
    }

    .membership-footer .content {
        padding: 30px 80px 92px;
        width: 80%;
    }

    .membership-footer .content p {
        font-size: 12px;
        line-height: 2.2;
    }
    .membership-footer h3 {
        margin-bottom: 30px;
    }

    .membership-footer a {
        font-size: 15px;
    }

    .membership-footer .col-md-5 h3 {
        font-size: 23px;
    }

    .register-deposit-profit .container {
        width: 920px;
    }

    .video-poster {
        height: 380px;
    }

    .right_block {
        /*height: 362px;*/
    }

    .left_block {
        height: 362px;
        /*overflow: hidden;*/
    }

    .left_block .img-membership1 {
        height: 490px;
    }


}

@media (min-width: 1400px) and (max-width: 1799px) {

    .text-days {
        font-size: 130px;
    }

    .text-lower {
        font-size: 26px;
    }

    .membership-text {
        min-height: 245px;
    }

    .gaff button .row {
        margin: 20px 0;
    }

    .gaff button {
        width: 98%;
    }

    .membership-block-text {
        /*color: #b0b0b0;*/
        font-family: 'Open Sans', sans-serif;
        font-size: 0.8em;
        margin-left: 35px;
    }

    .register-last-row {
        margin-bottom: 1%;
    }

    .register-right-text {
        font-size: 1.5em;
        line-height: 1.2;
    }

    .icons-block {
        margin: 15px auto 0 auto;
    }

    .membership-wrapper {
        height: 500px;
        margin-bottom: 180px;
    }

    .first-arrow {
        left: -35px;
        top: 5px;
    }

    .you-here .grey {
        font-size: 13px;
    }

    .you-here .green {
        font-size: 25px;
    }

    .green-little-text {
        font-size: 13px !important;
    }

    .steps-title {
        font-size: 25px;
    }

    .grey-small-text {
        font-size: 13px;
    }

    .arrow1 {
        right: 0;
    }

    .first-num {
        left: 35px;
        top: 35px;
    }

    .single-item {
        width: 28%;
        height: 460px;
    }

    .video-item {
        padding-top: 0;
    }

    .embed-responsive-16by9 h5 {
        width: 100%;
        text-align: center;
    }

    .join-member-club .register-btn p {
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .last-chace-register .qick-and-easy {
        padding-top: 100px;
    }

    .right_block {
        height: 400px;
    }

    .membership-header button .col-md-12.col-xs-9 {
        font-size: 1.3em;
    }

}

@media (min-width: 1800px) {
    .membership-header .container, .footer, .header-container, .register-deposit-profit .container, .membership-text1 {
        width: 1600px;
    }

    .membership-header .right_block {
        min-height: 547px;
    }

    .embed-responsive-16by10 {
        background-color: inherit;
    }

    .register-right-text {
        font-size: 1.9em;
    }

    .gaff .text-center {
        margin-left: 3px;
        padding-right: 0;
        padding-left: 0;
    }

    .gaff button {
        background-repeat: no-repeat;
        background-position: inherit;
        background-attachment: inherit;
        letter-spacing: 0.25em;
        font-size: 0.8em;
        width: 470px;
    }

    .gaff button .row .arrow {
        left: 30px;
    }

    .gaff button .row .arrow img {
        width: auto;
    }

    .last-chace-register .membership-block-text {
        text-align: center;
    }

    .last-chace-register .blockImg {
        padding-right: 5px;
        padding-bottom: 8px;
    }

    .icons-block {
        width: 390px;
    }

    .register-deposit-profit {
        padding-right: 3%;
        padding-left: 5%;
    }

    .blockImg {
        padding-right: 1%;
    }

    .quick-and-easy .container .right_item {
        width: auto;
        float: left;
        margin-right: 3%;
        width: 200px;
    }

    .quick-and-easy .container .left_item {
        margin-left: 0;
        width: auto;
        width: 200px;
        margin: 0 3% 1% 3%;
    }

    .quick-and-easy .container .left_item_not_stripped {
        width: 200px;
        margin: 0 3% 1% 6%;
    }

    .mem-second-arrow-left {

    }

    .mem-third-arrow-left {
    }

    .quick-and-easy .button1 {
        margin-left: 20%;
    }

    .lowest-btn .col-xs-10 {
        margin-left: -30px;
    }

    .lowest-btn .col-xs-2 img {
        margin-left: 25%;
    }

    .row.quick-and-easy .blockMob .licence div {
        margin-left: 25px;
    }
}

.membership-footer .container .content div.active {
    display: block;
}

.membership-footer .container .content div {
    display: none;
}

.arrow-img-active {
    transform: rotate(180deg);
}

.panel-heading img {
    position: absolute;
    top: 12px;
    right: 8px;
}

.membership-footer .panel-title {
    padding-right: 25px;
}

.membership-footer li a {
    cursor: pointer;
    cursor: hand;
}

.membership-footer #accordion a {
    color: rgb(30,192,177);
}

#accordion {
    margin: 20px auto;
}

/*adjustments for the video laststep page*/
@media (min-width: 992px) and (max-width: 1109px){
    .membership-header .container {
        width: 992px;
    }

    body.laststep .img-membership1 {
        height: 344px;
    }

    body.laststep .membership-block-text {
        font-size: 0.6em;
    }

    body.laststep .register-right-text {
        font-size: 1em;
    }

    body.laststep .gaff button {
        font-size: 0.5em;
    }

    body.laststep .icons-block {
        margin: 1% auto 8% auto;
    }

    body.laststep .membership-header .icons-block {
        margin: 8% auto 1% auto;
    }

    body.laststep .left_block {
        height: auto;
    }

    body.laststep .membership-header .right_block {
        height: 344px;
    }
}

@media (min-width: 1110px) and (max-width: 1399px) {
    .membership-header .container {
        width: 992px;
    }

    body.laststep .img-membership1 {
        height: 344px;
    }

    body.laststep .membership-block-text {
        font-size: 0.6em;
    }

    body.laststep .register-right-text {
        font-size: 1em;
    }

    body.laststep .gaff button {
        font-size: 0.6em;
    }

    body.laststep .icons-block {
        margin: 1% auto 8% auto;
    }

    body.laststep .membership-header .icons-block {
        margin: 8% auto 1% auto;
    }

    body.laststep .left_block {
        height: auto;
    }

    body.laststep .membership-header .right_block {
        height: 344px;
    }
}

@media (min-width: 1400px) and (max-width: 1799px) {
    body.laststep .membership-header .right_block {
        height: 405px;
    }

    body.laststep .membership-block-text {
        margin-top: 4px;
    }

    body.laststep .gaff button .row {
        margin: 14px 0;
    }

    .last-chace-register button .col-md-12.col-xs-9 {
        font-size: 1.2em;
    }
}

@media (min-width: 1800px) {
    body.laststep .img-membership1 {
        height: 554px;
    }

    body.laststep .register-right-text {
        font-size: 2.11em;
    }

    body.laststep .membership-header .right_block {
        height: 554px;
    }
}

@media (min-width: 1097px) and (max-width: 1399px) {
    body.laststep .membership-header {
        margin-bottom: 80px;
    }
}

.membership-footer .container .content {
    min-height: 430px;
}

ul.info li a:hover {
    text-decoration: none;
    border-bottom: 2px dashed #b0ffed;
}

@media (min-width: 320px) and (max-width: 768px){
    .membership-header .yellow-arrow {
        top: -20px;
        right: 100px;
        width: 25px;
    }

    .membership-header .left_block p {
        position: absolute;
        top: 40px;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 70%;
        text-align: center  ;
    }

    .membership-header button .col-md-12.col-xs-9 {
        text-align: center !important;
        font-size: 1em;
    }

    .last-chace-register button .col-md-12.col-xs-9 {
        font-size: 1.1em;
    }
}

@media (min-width: 320px) and (max-width: 365px) {
    .membership-wrapper {
        /*height: 1025px;*/
    }
}

@media (min-width: 366px) and (max-width: 500px) {
    .membership-wrapper {
        /*height: 855px;*/
    }

    .last-chace-register button .col-md-12.col-xs-9 {
        font-size: 1.0em;
    }

    .first-arrow, .second-arrow, .third-arrow-add {
        width: 95px;
        left: -15px;
    }

    .first-num, .second-num {
        left: 30px;
        top: 30px;
    }

    .third-num {
        left: 25px;
        top: 35px;
    }
}

@media (min-width: 501px) and (max-width: 630px) {
    .membership-wrapper {
        /*height: 970px;*/
    }

    .membership-header button .col-md-12.col-xs-9 {
        font-size: 1.3em;
    }

    .last-chace-register button .col-md-12.col-xs-9 {
        font-size: 1.4em;
    }

    .last-chace-register .membership-block-text {
        font-size: 0.9em;
    }

    .first-arrow {
        width: 115px;
        left: 0;
    }

    .first-num {
        top: 35px;
        left: 52px;
    }

    .second-arrow, .third-arrow-add {
        left: 0;
    }

    .second-num {
        left: 50px;
    }

    .third-num {
        left: 50px;
    }
}

@media (min-width: 631px) and (max-width: 991px) {
    .membership-header button .col-md-12.col-xs-9 {
        font-size: 1.7em;
    }

    .last-chace-register button .col-md-12.col-xs-9 {
        font-size: 1.7em;
    }

    .first-arrow {
        width: 115px;
    }

    .first-num {
        top: 35px;
        left: 65px;
    }

    .last-chace-register .membership-block-text {
        font-size: 1.1em;
    }
}

span#time-exit {
    white-space: nowrap;
}

.membership-footer .panel-heading {
    position: relative;
}

@media (min-width: 768px) and (max-width: 991px) {
    .membership-wrapper {
        height: 950px;
        margin-bottom: 160px;
    }
}