body.fe2.clickthrough .red {
    color:#fd572b;
}

body.fe2.clickthrough .orange {
    color:#fd842b;
}

body.fe2.clickthrough .stop {
    color: #979797;
    border: 2px dashed #e4e4e4;
    margin: 15px;
    padding: 5px 15px;
    position: relative;
    font-size: 0.7em;
}

body.fe2.clickthrough .stop img {
    margin: 0 auto;
}

body.fe2.clickthrough .main-text span.welcome-plate {
    display: inline-block;
    color:#0eb598;
    border: 2px solid #0eb598;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 15px auto;
    width: 100%;
    padding: 10px 15px;
    letter-spacing: 3px;
    font-size: 0.6em;
}

body.fe2.clickthrough .do-not-exit .warning {
    font-weight: bolder;
    font-size: 1.3em;
    margin: 0;
}

body.fe2.clickthrough .do-not-exit .description {
    color:#979797;
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}

body.fe2.clickthrough .arr-left {
    position: absolute;
    height: 50px;
    width: 50px;
    top: -35px;
    left: -25px;
}

body.fe2.clickthrough .big-number {
    font-size: 1.2em;
}

body.fe2.clickthrough .content .right_block > div.row:last-child {
    margin: 15px auto;
}

/* sm */
@media (min-width: 768px) {
}

/* md */
@media (min-width: 992px) {

    body.fe2.clickthrough .action-form {
        padding-bottom: 0;
    }

    body.fe2.clickthrough .content .right_block {
        padding-top: 0;
        margin-top: 0;
        min-height: unset;
    }

    body.fe2.clickthrough .content .right_block > div.row:last-child {
        margin-top: 5px;
    }

    body.fe2.clickthrough .main-text span.welcome-plate {
        margin: 15px auto;
        width: auto;
    }

    body.fe2.clickthrough .main-text p.welcome-text {
        font-size: 0.8em;
        width: auto;
        margin: 0;
    }
}

/* lg */
@media (min-width: 1200px) {
    body.fe2.clickthrough .stop {
        padding: 15px;
    }

    body.fe2.clickthrough .main-text p.welcome-text {
        font-size: 1em;
        width: auto;
        margin: 15px auto;
    }

    body.fe2.clickthrough .arr-left {
        height: 60px;
        width: 60px;
        top: -45px;
        left: -35px;
    }
    body.fe2.clickthrough .reminder {
        font-size: 1.2em;
    }
}

/* FullHD and higher */
@media (min-width: 1800px) {
    body.fe2.clickthrough .stop {
        font-size: 1em;
    }

    body.fe2.clickthrough .main-text p.welcome-text {
        margin: 40px auto;
        width: auto;
    }

    body.fe2.clickthrough .arr-left {
        height: auto;
        width: auto;
        top: -55px;
        left: -45px;
    }
}
