@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-Bold.ttf);
}

input[type="text"]:focus, input[type="email"]:focus {
    border: 2px solid #21c0ac;
    outline: none;
    color: #21c0ac;
}

.glyphicon1 {
    padding: 10px 35px !important;
}

.btn {
    border-radius: 0;
}

.nav>li>a:hover {
    background-color: #2d7968;
    color: white;
}

.table>thead>tr>th {
    border-bottom: 1px solid #f1f1f1;
}

.dashboard-container {
    width: 100%;
    margin: 0;
}

.alert-info .alert-link {
    color: #7f8886;
}

.alert .alert-link {
    font-weight: 100;
}

.table {
    margin-bottom: 0px;
}

.caret {
    margin-left: 115px !important;
    color: #a7a7a7;
}
.navbar-default {
    border: none;
}

.ClickMoney, .clickthrough {
    background: url(../images/register/backgroundRegister.jpg) no-repeat;
    background-size: 100% auto;
    height: 760px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*header*/
.logo1 {
    margin-top: 35px;
    margin-bottom: 35px;
    padding-left: 0;
    width: 9.5%;
}

.lic {
    margin-top: 45px;
    margin-bottom: 35px;
    padding-left: 0;
    width: 32%;
}

.licenceRight, .licenceLeft {
    float: right;
    padding: 10px;
}

.lic{
    padding-right:0;
}
.lic1 {
    float: right;
}

.licenceRight {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:#858585;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 9px;
    text-align: center;
    padding: 7px 10px;
}

.licenceLeft {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 3px 10px;
}

.video_through {
    width:100%;
    height: 420px;
    border:0px;
}

/*content*/
.content{
    box-shadow: 0 15px 45px 15px rgba(0, 0, 0, .3);
    background-color: white;
}

/*righ block*/
.licenceLeft {
    background-color: #fd842b;
}

.welkGreen {
    color:#0eb598;
    border: 2px solid #0eb598;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 40px auto 30px;
    width: 30%;
    padding: 8px 5px;
    letter-spacing: 3px;
    font-size: 11px;
}

.right_block {
    background-color: white;
    width: 32%;
    padding-right: 0;
    padding-left: 0;
}

.right_block1 {
    background-color: white;
    width: 40%;
    padding-right: 0;
    padding-left: 0;
}

.left_block {
    padding-right:0;
    padding-left:0;
    width: 68%;
    position: relative;
}

.left_block1 {
    padding-right:0;
    padding-left:0;
    width: 60%;
    position: relative;
}

.img-left-block1 {
    height: 100%;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.stop {
    color:#979797;
    border: 2px dashed #e4e4e4;
    margin: 4% 17%;
    padding: 20px 15px;
    position: relative;
    width: 70%;
}

p.clickbt {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

p.secure {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 26px;
    margin: 0 auto;
    width: 63%;
    background: url("../images/dotted.png") repeat-x;
    padding-top: 10px;
    line-height: 30px;
}

.span-secr, .secure span.orange {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.orange {
    color:#fd842b;
}

.stop_do_not_ex {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 2px;
}

.img_stop {
    margin-top: 10px;
}

.red {
    color:#fd572b;
}

.stop_do_not_ex1 {
    color:#979797;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 12px;
}

.do_not_ex0 {
    padding: 0;
}

.arr1 {
    position: absolute;
    top: -50px;
    left: -50px;
}

.button1 {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    padding: 12px 10px;
    color: white;
    font-weight: lighter;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0 12%;
    text-transform: uppercase;
    border: none;
    width: 100%;
    background: #06b6a4;
    background: -moz-linear-gradient(left, #06b6a4 0%, #27b378 100%);
    background: -webkit-linear-gradient(left, #06b6a4 0%,#27b378 100%);
    background: linear-gradient(to right, #06b6a4 0%,#27b378 100%);
}

.button2 {
    margin: 25px auto;
    color: #858585;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing:2px;
    font-size: 11px;
    margin-left:65px;
    font-weight: bolder;
}

span.button20 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

/*footer*/
.fnavigation li a {
    color:white;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.fnavigation li {
    display: inline;
}

.fnavigation li:after {
    content: " | ";
    color: #fff;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.fnavigation li:last-child:after {
    content: "";
}

.fnavigation {
    padding-left: 0px;
}

.copyright1 {
    padding-top: 3px;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: right;
    padding-right: 0;
    margin-left: 2%;
}

/*popup*/
.videoP {
    width:100%;
}

.video-header {
    padding: 0;
    border:none;
}

.video-content {
    border-radius: 0;
    border: none;
}

.modal-box {
    background-color: #19b48b;
    opacity: 0.7;
    font-family: 'Montserrat', sans-serif;
}

.RoundedRectangle2 {
    background: url(../images/RoundedRectangle2.jpg) no-repeat;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius:3px;
    border-radius: 3px;
    padding: 7px 0px;
}

.RoundedRectangle3 {
    background: url(../images/RoundedRectangle3.jpg) no-repeat;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius:3px;
    border-radius: 3px;
    padding: 7px 0px;
}

.greyLine {
 background: url("../images/line.png") repeat-x;
    background-position: center, center;
}

.video-body {
    padding:80px;
}

.popupRow3 {
    margin:0 auto;
}

.white {
    color:white;
}

.blBold, .blBoldB {
    font-weight: 300;
    font-size:12px;
    font-weight: 600;
    font-size: 18px;
}

.blBoldB {
    font-size:20px;
}

.green {
    color:#2bbc98;
    font-size:20px;
    font-weight: bold;
}

.grey {
    color:#ababab;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.popupRow2 {
    margin-top:30px;
}

.profPerD {
    margin-left:120px;
}

.button3 {
    margin-left:100px;
}

.proceed1 {
    padding-left: 25px;
    padding-top: 5px;
}

.video_through1 {
    height: 300px;
}

.content0 {
    background-color: white;
}

.depPopup {
	padding: 60px;
}

/*clickMoneyFE1*/
.welkOrange {
    color: #fd842b;
    border: 2px solid #fd842b;
    margin-right: 0;
    margin-left: 100px;
}

.clickbt1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 20px;
    margin-top: 46px;
    padding-bottom: 10px;
}

.fe1del {
    padding-left: 0;
    padding-right: 0;
    font-size: 12px;
    margin-top:15px;
    text-align: center;
}

.bottom_block {
    background-color: white;
}

.button4 {
    margin-left:0;
}

.butClM {
    letter-spacing: 1px;
    font-size:12px;
}

.fnavigationFe li a, .copyrightGrey {
   color:#c1c1c1;
    font-size: 10px;
}

.fnavigationFe {
    margin-left:20px;
}

.name-FE1 {
    border:2px dashed #5794aa;
    color:#5794aa;
}

.footerFE {
    margin-top: 60px;
    margin-bottom: 20px;
}

.emailFE {
    color:#c1c1c1;
    border-bottom: 2px dashed #5794aa;
    padding-bottom: 5px;
}

.icons {
    padding-left: 40px;
}

.blBoldB1 {
    font-weight: 700;
    border-bottom: 2px dashed #5794aa;
}

.blockText {
    color:#b0b0b0;
    font-size: 10.7px;
    font-family: 'Open Sans', sans-serif;
}

.blockImg {
    width: 5%;
    padding-right: 7px;
    padding-bottom: 1%;
}

.fe-2-under-buttom {
    margin-top: 2%;
    margin-left: 12%;
}

.textSmile {
    margin-top:5px;
}

.greenL {
    font-weight: lighter;
    color:#06b6a4;
}

.timeFE1 {
    color:#989898;
    font-size: 10px;
}

.hideEmail {
    color:#d4d4d4;
    font-size: 10px;
}

.content {
    margin-bottom: 20px;
}

.logWhite {
    padding-left: 0;
    padding-right: 0;
    width: 6%;
}

.smileBox {
    background-color: white;
    position: absolute;
    top:320px;
    left:20px;
}

.logoHeaderGren {
    position:absolute;
    top:480px;
}

.ic {
    margin-top:2%;
}

.imgSmile, .textSmile {
    padding-top:20px;
    padding-bottom: 20px;
}

.imgTop{
    padding-top: 2%;
}

/*dashboard*/
.wrapper {
    width:100%;
    background-color:#f3f8f7;
}

.sidebar {
    display: block;
    top:0;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: url(../images/bk.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}

.tableDB {
    background-color:white;
    position: relative;
}

.in a {
   color: #ade7df;
}

.main {
    padding-right: 40px;
    padding-left: 40px;
}

.main {
    padding: 20px;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -25px;
}

.logoYellow {
     margin-bottom:20px;
     padding-left: 25px;
}

.headtextDB1 {
    margin-bottom:3%;
    color:#b1b1b1;
    font-size:10px;
    text-transform: uppercase;
    letter-spacing:1px;
}

.iconTDb {
    font-size:10px;
}

.littleZir {
    font-size:10px;
    font-weight:100;
}

.iconTDb {
    padding-left:7px;
}

.yPosDb {
    color:#707876;
    font-size:18px;
}

.iconTDb0 {
    margin-top:5px;
    padding: 0;
    width:5%;
}

.your-position {
    width: 11%;
    padding-right: 0;
}

.imgTbDB {
    margin-right:10px;
}

.little1 {
    color: #b1b1b1;
    font-size: 9px;
    font-weight:100;
}

.dbTb {
    border-right:1px solid #f1f1f1;
    border-bottom:1 solid #f1f1f1;
}

.dbTB1 {
    border-left:1px solid #f1f1f1;
    border-bottom:1 solid #f1f1f1;
}

.dbTb2{
    border-bottom:1 solid #f1f1f1;
}

.buttonInTable {
    background-image: url(images/bg.jpg);
}

.alertDashb {
    background-color:white;
    border:none;
    width: 20%;
    position: absolute;
    top: 4%;
    left: -1%;
}

.th-icon2 {
    margin-top: 2%;
}

.tableDb tr td {
    border-top:0px solid red !important;
    border-right: 1px solid #f1f1f1;
}

.headerTbD {
    color: #b1b0b0;
    font-size:9px;
    text-transform: uppercase;
    font-weight:100;
    border-top:none;
    border-right: 1px solid #ddd;
}

.alert-link {
    color:#7f8886;
    font-size:12px;
    font-weight: lighter;
}

.buttonInTable {
	background: url(../images/RoundedRectangle2.jpg) no-repeat;
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-weight: 100;
    display: block;
    font-size: 12px;
    text-align: center;
    background-size: cover;
    letter-spacing: 2px;
}

.dashboard-question1 {
    padding-top: 2%;
}

.td1 {
	font-weight: bold;
	text-align: left;
	font-size: 12px;
}

.td2 {
	text-transform: uppercase;
	color:#9f9f9f;
	text-align: left;
	font-size: 12px;
}

.td3 {
	text-align: left;
	color: #06b6a4;
	font-size: 12px;
    font-weight: bold;
}

.td3-yellow {
    color: #e9ca3d;
}

.td3-red {
    color: #ef5770;
}

.td4, .td5 {
	text-align: left;
	color: #9f9f9f;
    font-size: 12px;
}

.td6 {
    text-align: center;
}

.th-icon {
    padding-right: 0;
    padding-top: 1%;
}

.th-icon1 {
    padding-top: 5%;
}

.dashboard-question {
    padding-right: 0;
}

.dashboard-button {
    padding-left: 0;
}

.th-text {
    padding-left: 0;
}

.table-responsive {
    overflow-x: hidden;
}

.dashboard-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fnavigation-dashboard li a {
    font-size: 8px;
    color: #c2cdcb;
}

.copyright2 {
    color:#c2cdcb;
}

.fnavigation-dashboard li:after {
    color: #c2cdcb;
}

/*membership*/
.membship1 {
    background: url("../images/memberShip.png") no-repeat;
    background-size: cover;
    background-position: 50% 50%
    background-size: auto;
    height:500px;
}

.membship2 {
    background-color: white;
    height: 300px;
}

.membship3 {
    background-image: url("../images/membeshipGreen.png");
    height: 300px;
}

.membship4 {
    height: 400px;
    background-image: url("../images/Untitled-4.png");
    background-size: cover;
    background-position: 50% 50%
    background-color: #7f7367;
}

.elOne0 {
    padding-right:0;
}

.textHeadMemb0 {
    text-transform: uppercase;
    color:white;
    letter-spacing: 1px;
    font-size: 10px;
    padding-left:0;
    padding-top: 1%;
}

.textHeadMemb1 {
    text-transform: uppercase;
    color:#a8e9e8;
    font-size:10px;
}

.welcHead {
    color:#fffa69;
    margin-top:2%;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
}

.welcHead1 {
    color:white;
    text-transform: uppercase;
}

.boxIcon {
    float:right;
}

.membship0{
    background-color: rgba(6, 182, 164, 0.8);
}

/*ClickMoney - FE-2*/
p.welkOrange1 {
    color: #fd842b;
    border: 2px solid #fd842b;
    width: 30.3%;
    margin: 4% auto;
    text-align: center;
    padding: 2%;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 9px;
}

.clickbtFE2 {
    text-transform: uppercase;
    font-size: 18px;
    color: #3e3e3e;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
}

.clickbtFE20 {
	border-bottom: 2px dashed #e4e4e4;
    font-weight: bold;
}

.initial {
    margin: 5% auto 0 auto;
    padding-right: 12%;
}

.nameFE2, .emailFE2 {
    border: 2px dashed #c0c0c0;
    padding: 2% 2%;
    text-align: left;
    color: #c0c0c0;
    margin-top: 2%;
    font-size: 11px;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.nameFE20, .emailFE20 {
	text-align: right;
	font-weight: bold;
	margin-top:4%;
    font-size: 12px;
}

.button-arrow {
    margin-left: 4%;
}

.FE2icons {
    margin-top: 8%;
    margin-left: 8%;
}


.arfe2 {
    position: absolute;
    top: -65px;
    right: -50px;
    width: 18%;
}

/*FE-Exit Pop*/
.fe-exit {
	background-color: rgba(253, 68, 43, 0.7);
	min-height: 1050px;
}

.licenceLeft1 {
    background-color: #fd442b;
    float: right;
    padding: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.fex-text {
	color: white;
    font-size: 11px;
    padding-top: 40px;
}

.feExitRed {
	background-color: #fd442b;
}

.feExitBold {
	font-weight: bold;
}

.feExitWar {
	color: #fd442b;
}

.feExitWar0 {
	    margin-top: 7%;
	text-transform: capitalize;
}

.notifExit {
	color:#878787;
	font-size: 11px;
	text-align: center;
	margin-top: 3%;
}

.nameExit {
	color:#fd442b;
	background-color: #f5f5f5;
	border: none
}

.buttonEXRed {
	background-color: #e75e32;
	background-image: none;
}

.btnFE3 {
	text-align: center;
}

.exitDown {
	border:2px dashed #c0c0c0;
    font-size: 13px;
    padding: 3% 4%;
    margin-top: 8%;
    margin-left: 8%;
}

.exitDown span {
	color: #e75e32;
}

.arfe3 {
    top: 350px;
    right: 80px;
    position: absolute;
}

.depPopup {
	background-color: #06b6a4;
}

/*register*/
.regist1 {
     background-color: #189b7a;
 }

.regist2{
    background-color: #23bfa8;
}

.regist2 a {
    color: #858585;
}

.reg-bold {
    font-weight: bold;
    border-bottom: 2px dashed #e4e4e4;
}

.register-right-text {
    width: 70%;
    margin-top: 6%;
}

.email-reg-name, .email-reg-bestem {
    border: 2px dashed #e4e4e4;
    padding: 6% 4%;
    color: #e4e4e4;
}

.email-reg-email, .email-reg-coundtry, .email-reg-phone {
    border: 2px solid #35be91;
    padding: 6% 4%;
    color: #35be91;
}

.email-reg-pass {
    border: 2px solid #ff4273;
    padding: 6% 4%;
    color: #ff4273;
}

.email-Reg0 {
    margin-bottom: 4%;
    font-size: 12px;
}

.email-Reg0 button {
    font-size: 12px;
}
.arfe3 {
    top: 120px;
    right: 140px;
}

/*header block*/
.opacity-for-nav{
    background-color: rgba(0, 0, 0, 0.7);
}

.header-block {
    background-image: url("../images/Rectangle22.png");
    background-repeat: no-repeat;
}

.header-logo {
    padding-left: 0;
}

.header-logo1 {
    background-color: white;
    position: absolute;
    top: -5px;
}

.header-logo2{
    padding: 10% 20%;
}

.header-icons{
    margin-top: 20px;
}

.el-arr {
    margin-top:5px;
}

.header-text1 {
    padding: 0;
}

.header-text11 {
    font-size: 16px;
    color: white;
}

.header-text11 span {
    color: yellow;
}

.header-text12 {
    font-size: 10px;
    color: white;
}

.header-container {
    padding: 0;
}

/*login block*/
.loginPopup {
    min-height: 1100px;
}

.login-header {
    padding-top: 20px;
}
.login-header0 {
    font-size: 30px;
    padding-top: 60px;
}
.login-header1 {
    font-weight: 700;
    border-bottom: 2px dashed #e4e4e4;
}

.log-name-pas {
    margin-top: 20px;
}

.login {
    padding-top: 0;
}

.forgot-password {
    color: #878787;
}

.log-name-pas1 {
    margin: 1% 8%;
}
.loginButton {
    margin-top: 30px;
    margin-left: 80px;
}

.forgot-password {
    text-align: center;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
}

.logo-for-login-page {
    position: absolute;
    top: 3%;
    left: 47%;
}

.login-close {
    position: absolute;
    right: 5px;
    top: 5px;
}

.login-content {
    position: relative;
}

/*thank you*/
.thank-you {
    background: url("../images/thankYou/bckGround.png") no-repeat;
    height: 1232px;
}

.thanks-letters {
    background-color: transparent;
}

.thanks-logo-img {
    position: relative;
}

.modal-thanks-form {
    margin-top: 100px;
}

.modal-body {
    background: url("../images/thankYou/backgroundLetters.png") no-repeat;
    height: 250px;
    background-size: 100% auto;
    padding-bottom: 50%;
    pozition: relative;
}

.arrows-for-thanks3 {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    width: 102px;
    height: 102px;

    width: 60px;
    height: 60px;
}

.arrows-for-thanks3 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.7;
}
.arrows-for-thanks3 img:first-child {
    opacity: 0.4;
}
.arrows-for-thanks3 img:last-child {
    opacity: 1;
}

.arrows-for-thanks3.rotated img {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: 3.5s;
    -moz-transition: 3.5s;
    -o-transition: 3.5s;
    transition: 3.5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.arrows-for-thanks3.rotated img:first-child {
    transition-timing-function: ease-in-out;
    transition: 4s;
}

.arrows-for-thanks3.rotated img:last-child {
    transition-timing-function: ease-in-out;
    transition: 3s;
}

.thanks-letters {
    box-shadow: none;
    height: 400px;
}

.modal-thanks-text1 {
    position: absolute;
    left: 50%;
    color:white;
    font-size: 9px;
    top: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.modal-thanks-text2 {
    position: absolute;
    top: 28%;
    left: 50%;
    border: 4px solid white;
    padding: 0 20px;
    color: white;
    letter-spacing: 3px;
    font-size: 14px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.modal-thanks-text3 {
    position: absolute;
    top: 43%;
    left: 50%;
    text-align: center;
    color: white;
    font-size: 10px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*footer pages*/
.footer-title {
    text-align: center;
    font-weight: bold;
}

.footer-title1 {
    margin-bottom: 30px;
}

.footer-title0 {
    margin-top: 30px;
}

.footer-container p {
    margin-bottom: 20px;
}

.footer-link {
    text-decoration: underline;
    color: black;
}
/*mobile tablets*/
@media (min-width: 300px) and (max-width: 415px) {

    /*thanks form*/
    .modal-thanks-form {
        width: 100%;
    }

    .modal-thanks-text3 {
        position: absolute;
        top: 47%;
        text-align: center;
        font-size: 8px;
    }

    .modal-thanks-text2 h4 {
        font-size: 10px;
    }

    .col-xs-7 {
        width: 100%;
    }

    .button1 {
        margin: 2% 15%;
    }

    .nameFE20, .emailFE20 {
        width: 50%;
    }

    .btnFE2 {
        width: 82%;
    }

    .proceed span {
        font-size: 8px;
    }

    .FE2icons{
        margin-left: 6%;
    }

    .logWhite {
        width: 10%;
        margin-left: 2%;
    }

    .copyright1 {
        float: right;
        width: 70%;
    }

    .arfe2 {
        top: -5px;
    }
}


@media (max-width: 767px) {
    /*thanks form*/
    .modal-thanks-form {
        width: 100%;
    }

    .modal-thanks-text3 {
        position: absolute;
        top: 47%;
        text-align: center;
        font-size: 8px;
    }

    .modal-thanks-text2 h4 {
        font-size: 10px;
    }
}

@media (max-width: 991px) {

    .stop {
        margin: 4% 23%;
        width: 55%;
    }

    .caret {
        margin-left: 450px !important;
    }

    .button1 {
        margin: 0 auto;
        display: block;
        width: 45%;
    }

    .button2 {
        margin-top: 10%;
        margin-left: 0;
    }

    .welkOrange {
        margin: 3% auto;
    }

    .clickbt1 {
        margin-top: 1%;
        text-align: left;
    }

    .icons {
        margin-top: 3%;
    }

    .button11 {
        width: 75%;
        margin-top: 3%;
    }

    .fe1del {
        text-align: left;
    }

    .button4 {
        margin: 4% 25%;
    }

    .blockIconsMob {
        float: right;
    }

    .smileBox {
        left: 10px;
    }

    .blockText {
        display: none;
    }

    .proceed {
        padding-left: 0;
    }

    .proceed span {
        font-size: 10px;
    }

    .fnavigation {
        padding-top: 15%;
    }

    .logWhite {
        margin-top: 4%;
    }

    .fnavigation li a {
        font-size: 8px;
    }

    .copyright {
        font-size: 8px;
    }

    .initial {
        margin: 3% 9%;
    }

    .nameFE20, .emailFE20 {
        text-align: left;
    }

    .FE2icons {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .arfe2 {
        position: absolute;
        top: -70px;
        right: -30px;
        width: 10%;
    }

    .exitDown {
        margin-left: 19%;
    }

    .fex-text {
        padding-top: 20px;
    }

    .arfe3 {
        top: 1000px;
        right: 20px;
        position: absolute;
    }

    .fnavigation1 {
        padding-top: 1%;
    }

    .logo1 {
        width: 110px;
    }

    /*regiser mobile*/
    .email-reg-name, .email-reg-bestem, .email-reg-email, .email-reg-coundtry, .email-reg-phone, .email-reg-email, .email-reg-coundtry, .email-reg-pass {
        padding: 3% 4%;
    }

    .email-Reg0, .email-Reg0 button {
        font-size: 14px;
    }

    .img-left-block1 {
        height: auto;
    }

    .play-button {
        width: 15%;
    }

    .header {
        position: relative;
    }

    .lic {
        margin-left: 0;
        width: 100%;
        position: absolute;
        top: -2%;
        right: 0;
    }

    .arfe3 {
        top: 650px;
        right: 0;
    }

    .register-button {
        margin: 0 13%;
    }

    .register-button span {
        font-size: 13px;
    }

    .register-icons {
        margin-left: 8%;
    }

    .reg-fnavigation {
        padding-top: 0;
    }

    .logWhiteR {
        margin-top: 0;
    }

    /*header mobile*/
    .header-block {
        background-repeat: repeat-y;
    }

    .header-logo1 {
        background-color: white;
        top: -5px;

    }

    /*fe-2*/
    .left_block {
        padding-right: 0;
        padding-left: 0;
        width: 100%;
        position: relative;
    }

    .right_block {
        background-color: white;
        width: 100%;
    }


    .ClickMoney, .clickthrough {
        background: url(../images/register/backgroundRegister.png) no-repeat;
        background-size: cover;
        height:auto;
    }

    .logWhite {
        margin-top: 0;
    }

    .fnavigation {
        padding-top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1400px) {

    .ClickMoney, .clickthrough {
        background-size: cover;
    }

    .content, .header, .footer {
        width: 930px;
    }

    p.welkOrange1 {
        width: 40%;
    }

    .clickbtFE2 {
        font-size: 14px;
    }

    .nameFE20, .emailFE20, .nameFE2, .emailFE2 {
        font-size: 10px;
    }

    .btnFE2 {
        font-size: 8px;
    }

    .blockImg {
        width: 7.5%;
    }

    .blockText {
        font-size: 6.3px;
        padding-left: 0;
    }

    .arfe2 {
        top: -35px;
        right: -18px;
        width: 12%;
    }

    .fe-2-under-buttom {
        margin-left: 14%;
    }

    .FE2icons {
        margin-top: 5%;
        margin-left: 4%;
    }

    .button1 {
        font-size: 8px;
        margin: 12px 2px 0 12px;
        padding: 9px 10px;
    }

    .button-arrow {
        width: 8%;
    }

    .licenceLeft {
        padding: 3px 5px;
    }

    .lic {
        margin-top: 35px;
        margin-bottom: 35px;
        padding-left: 0;
        width: 36%;
        margin-left: 51%;
    }

    .logo1 {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 13%;
    }

    .welkGreen {
        width: 50%;
        margin: 30px auto 30px;
    }

    p.clickbt {
        font-size: 16px;
    }

    p.secure {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        font-size: 20px;
        width: 83%;
        line-height: 22px;

    }

    .stop_do_not_ex1 {
        margin-bottom: 0;
    }

    .stop {
        padding: 5px 15px;
        width: 80%;
        margin: 4% 9%;
    }

    .arr1 {
        width: 14%;
        top: -30px;
        left: -30px;
    }

    .button1 {
        width: 60%;
        margin: 12px 2px 0 80px;
    }

    .button2 {
        margin-left: 35px;
        font-size: 9px;
    }

    .stop_do_not_ex {
        font-size: 11px;
    }

    .big-number {
        font-size: 12px;
    }

    .left_block1 {
        height: 400px;
    }
}

@media (min-width: 1400px) and (max-width: 1799px) {
    p.welkOrange1 {
        width: 37%;
    }

    .clickbtFE2 {
        font-size: 15px;
    }

    .nameFE20, .emailFE20 {
        font-size: 11px;
    }

    .blockImg {
        width: 6%;
    }

    .fe-2-under-buttom {
        margin-left: 12%;
    }

    .blockText {
        font-size: 8px;
    }

    .lic {
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .button1 {
        font-size: 12px;
        margin: 9% 10% 0 6%;
        width: 99%;
    }

    .img-left-block1 {
        height: auto;
    }

    .welkGreen {
        width: 40%;
        margin: 20px auto 20px;
        font-size: 9px;
    }

    p.clickbt {
        font-size: 14px;
    }

    p.secure {
        font-size: 18px;
        width: 75%;
    }

    .stop_do_not_ex {
        font-size: 12px;
    }

    .stop_do_not_ex1 {
        font-size: 10px;
        margin-bottom: 0;
    }

    .button02 {
        font-size: 12px;
        margin: 0% 10% 0 20%;
        width: 65%;
    }

    .stop {
        padding: 5px 15px;
    }

    .button2 {
        margin: 8px 55px;
        font-size: 8px;
    }

    .big-number {
        font-size: 10px !important;
    }

    .arr1 {
        width: 17%;
    }

}

@media (min-width: 1800px) {

    .content, .header, .footer {
        width: 1600px;
    }

    .fnavigation {
        margin-top: 10px;
    }

    .copyright1 {
        padding-top: 15px;
    }

    .fnavigation li a, .copyright {
        font-size: 13px;
    }

    .licenceRight {
        padding: 9px 10px;
    }

    .licenceLeft {
        padding: 6px 10px;
    }

    p.welkOrange1 {
        width: 30.3%;
        margin: 4% auto;
        padding: 1.5% 1%;
        font-size: 12px;
    }

    .licenceRight {
        width: 25%;
    }

    .licenceLeft {
        width: 8%;
    }

    .licenceLeft{
        font-size: 16px;
    }

    .licenceRight {
        font-size: 11px;
        letter-spacing: 2px;
    }

    .clickbtFE2 {
        font-size: 25px;
    }

    .nameFE20, .emailFE20, .nameFE2, .emailFE2 {
        font-size: 15px;
    }

    .button1 {
        margin: 9% 10% 0 10%;
        width: 93%;
        padding: 20px 12px;
    }

    .button02 {
        margin: 0;
        width: 50%;
        padding: 25px 20px;
        margin: 0 27%;
    }

    .blockText {
        font-size: 12px;
    }

    .blockImg {
        width: 6%;
    }

    .btnFE2 {
        font-size: 14px;
        padding-left: 10%;
    }

    .fe-2-under-buttom {
        margin-left: 70px;
    }

    .arfe2 {
        position: absolute;
        top: -80px;
        right: -30px;
        width: 14%;
    }

    .FE2icons {
        margin-top: 8%;
        margin-left: 14%;
        width: 75%;
    }
}
