/*thank you*/
.thank-you {
    background-color: #06b6a4;
    background: url("../images/thankYou/bckGround.png") no-repeat;
    opacity: 0.95;
}
.thank-you .modal-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: none;
}

.thank-you .modal-header {
    display: none;
}

.thank-you .modal-body {
    background: url("../images/thankYou/backgroundLetters.png") no-repeat;
    height: 368px;
    background-size: 100% auto;
    padding: 0;
    text-align: center;
}

.thank-you .modal-content {
    background-color: transparent;
}

.thank-you .header-text {
    color: white;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
}

.thank-you .thank-you-block {
    padding: 30px 0;
    color: white;
    font-size: 1.7em;
    letter-spacing: 6px;
    font-weight: bold;
}

.thank-you .thank-you-block span {
    border: 4px solid white;
    padding: 15px 30px;
}

.thank-you .footer-text {
    color: white;
    font-size: 1em;
}

/* arrows */
.thank-you .arrow {
    display: inline-block;
    position: relative;
    width: 112px;
    height: 112px;
}

.thank-you .arrow img {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 0.7;
}
.thank-you .arrow img:first-child {
    opacity: 0.4;
}
.thank-you .arrow img:last-child {
    opacity: 1;
}

.thank-you .arrow.rotated img {
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition: 3.5s;
    -moz-transition: 3.5s;
    -o-transition: 3.5s;
    transition: 3.5s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

.thank-you .arrow.rotated img:first-child {
    transition-timing-function: ease-in-out;
    transition: 4s;
}

.thank-you .arrow.rotated img:last-child {
    transition-timing-function: ease-in-out;
    transition: 3s;
}
