@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-Bold.ttf);
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select.select-register:focus {
    border: 2px solid #21c0ac;
    outline: none;
    color: #21c0ac;
    border-radius: 0;
}

.glyphicon1 {
    padding: 10px 35px !important;
}

.btn {
    border-radius: 0;
}

.nav>li>a:hover {
    background-color: #2d7968;
    color: white;
}

.table>thead>tr>th {
    border-bottom: 1px solid #f1f1f1;
}

.dashboard-container {
    width: 100%;
    margin: 0;
}

.alert-info .alert-link {
    color: #7f8886;
}

.alert .alert-link {
    font-weight: 100;
}

.table {
    margin-bottom: 0;
}

.caret {
    margin-left: 115px !important;
    color: #a7a7a7;
}
.navbar-default {
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.ClickMoney, .clickthrough {
    background: url(../images/bg.png) no-repeat center center;
    background-size: cover;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.clickbtFE2 {
    text-transform: uppercase;
    font-size: 1.5625em;
    color: #3e3e3e;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.register-right-text {
    width: 80%;
    margin-top: 3%;
    margin-bottom: 4%;
}

.reg-bold {
    font-weight: bold;
    border-bottom: 2px dashed #e4e4e4;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

.gaff {
    padding: 0 7% 1% 7%;
}

.embed-responsive-16by9 h5 {
    position: absolute;
    bottom: 13%;
    left: 30%;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
}

.embed-responsive-16by10 h5 {
    left: 20%;
}

.embed-responsive-16by9 p {
    position: absolute;
    bottom: 5%;
    left: 38%;
    color: white;
    letter-spacing: 2px;
    font-size: 12px;
}

.embed-responsive-16by10 p {
    left: 25%;
}

.you-here {
    padding-left: 0;
}

.member-arrows {
    padding-top: 10px;
}

.arrow1 {
    position: absolute;
    right: 5%;
    top: 35%;
}

.arrow111 {
top:40px;
}

.memebership_content .text1 {
    margin-bottom: 0;
}

.membership02 {
    margin-bottom: 110px;
    padding-right: 3%;
    padding-left: 5%;
}

.vtop {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.icons-block {
    margin: 15px auto 15px auto;
}

.email-Reg0 {
    font-size: 0.75em;
    margin-left: 5%;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.email-reg-name, .email-reg-bestem {
    border: 2px dashed #e4e4e4;
    padding: 6%;
    height: auto !important;
    color: #a7a7a7;
}

.register-last-row {
    margin-bottom: 5%;
}

.gaff button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #06b6a4;
    background: -webkit-linear-gradient(left, #06b6a4 0%,#27b378 100%);
    background: -moz-linear-gradient(left, #06b6a4 0%, #27b378 100%);
    background: linear-gradient(to right, #06b6a4 0%,#27b378 100%);
    color: white;
    font-weight: bold;
    margin: 0 auto;
    width: 90%;
    font-size: 0.8em;
    display: inline-block;
    outline: none;
}

button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: none;
    border: 0;
    color: inherit;
    cursor: hand;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.gaff button .row {
    margin: 25px 0;
    position: relative;
}

.gaff button .row {
    padding: 0;
}

.gaff .row .arrow {
    position: absolute;
    top: 50%;
    left: 30px;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gaff .row .arrow img {
    width: 60%;
}

.membship0 .header {
    margin-bottom: 1%;
}


.licenceRight{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color:#858585;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    text-align: center;
    height: 40px;
    overflow: hidden;
}

.licenceLeft{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.row.membship2 .licence {
    color: #7d7979;
}

.caret {
    color: #2bbc98;
}

.logo1 + div {
    color: white;
    font-size: 1.8em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.membship0 .logo1 {
    padding-left: 0;
    width: 9.5%;
}


.video_through{
    width:100%;
    height: 560px;
    border:0px;
}

.has-background {
    background-image: url("../images/Untitled-4.png");
    background-position: 200px;
}

.has-background .row.membship2 {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 45%, rgba(255,255,255,0.5) 100%);
}

/*content*/
.content{
    box-shadow:  6px 5px 30px -11px rgba(0, 0, 0, .3);
    background-color: white;
    margin-bottom: 20px;
}


/*righ block*/
.licenceLeft{
    background-color: #fd842b;
}
.welkGreen{
    color:#0eb598;
    border: 2px solid #0eb598;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 40px auto;
    width: 60%;
    padding: 5px;
}

.right_block {
    background-color: white;
    width: 40%;
    padding: 1% 2%;
}

.email-Reg2, .email-Reg4, .email-Reg6 {
    margin-left: 0;
}

.left_block{
    padding-right:0;
    padding-left:0;
    width: 60%;
    position: relative;
}
.stop{
    color:#979797;
    border: 2px dotted #979797;
    margin: 50px;
    padding:15px;
    position: relative;
}
h2.clickbt{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top:45px;
    border-bottom:2px dotted #e4e4e4;
    padding-bottom: 10px;
}
h1.secure{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 22px;
    margin: 0;
}
.orange{
    color:#fd842b;
}
.stop_do_not_ex{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 15px;
}
.img_stop{
    margin-top: 10px;
}
.red{
    color:#fd572b;
}
.stop_do_not_ex1{
    color:#979797;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 10px;
}
.do_not_ex0{
    padding: 0;
}
.arr1{
    position: absolute;
    top: -50px;
    left: -50px;
}
.button1{
    background: url(../images/RoundedRectangle.png) no-repeat;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius:3px;
    border-radius: 3px;
    padding: 20px 10px;
    color:white;
    font-weight: bold;
    margin: 0 auto;
    background-size: cover;
    width: 80%;
    margin-left: 10%;
}
.proceed{
    padding: 0 0 0 50px;
}

.button2{
    margin: 0 auto;
    color:#858585;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing:2px;
    font-size: 11px;
    margin-top:30px;
    margin-left:30px;
}

.left_block p {
    color: white;
    border: 2px solid yellow;
    position: absolute;
    top: 25%;
    right: 30%;
    padding: 1% 2%;
}

.left_block .yellow-arrow {
    position: absolute;
    top: -6%;
    right: 18%;

}


/***********register form***********/







/***********end of register form***********/



























/*footer*/
.fnavigation li a{
    color:white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}
.fnavigation li{
    display:inline;
}
.fnavigation{
    padding-top:10px;
    padding-left: 0px;
}
.copyright1{
    padding-top:12px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

/*popup*/
.videoP{
    width:100%;
}
.video-header{
    padding: 0;
    border:none;
}
.video-content{
    border-radius: 0;
}
.modal-box{
    background-color: #19b48b;
    opacity: 0.7;
    font-family: 'Montserrat', sans-serif;
}
.RoundedRectangle2{
    background: url(../images/RoundedRectangle2.jpg) no-repeat;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius:3px;
    border-radius: 3px;
    padding: 7px 0px;
}
.RoundedRectangle3{
    background: url(../images/RoundedRectangle3.jpg) no-repeat;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius:3px;
    border-radius: 3px;
    padding: 7px 0px;
}
.greyLine{
    background: url("../images/line.png") repeat-x;
    background-position: center, center;
}
.video-body{
    padding:80px;
}
.popupRow3{
    margin:0 auto;
}
.white{
    color:white;
}
.blBold, .blBoldB{
    font-weight: 300;
    font-size:12px;
    font-weight: 600;
    font-size: 18px;
}
.blBoldB{
    font-size:20px;
}
.green{
    color: #2bbc98;
    font-size: 24px;
    font-weight: bold;
}
.grey{
    color: #cfcfcf;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0;
    font-size: 12px;
}

.popupRow2{
    margin-top:30px;
}
.profPerD{
    margin-left:120px;
}
.button3{
    margin-left:100px;
}
.proceed1{
    padding-left: 25px;
    padding-top: 5px;
}
.video_through1{
    height: 300px;
}



/*member area*/
.left_item {
    height: 45px;
    width: 43%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px dashed #e4e4e4;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 20px;
}

.embed-responsive-item.video_through {
    background: url('/images/imagineForVideo.png');
    background-size: cover;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 11%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.left_item_not_stripped {
    height: 45px;
    width: 43%;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    text-align: left;
    margin-left: 5%;
    margin-bottom: 20px;
    border: 2px solid #2bbc98;
    color: #2bbc98;
}

button {
    border: none;
    background: none;
}

.left_item span {
    height: 20px;
    text-align: center;
    font-size: 14px;
}

.right_item {
    height: 45px;
    width: 43%;
    float: right;
    border: 2px solid hsl(172, 71%, 44%);
    margin-right: 5%;
    margin-bottom: 20px;
}

.right_item input {
    border: none;
    width: 100%;
    height: auto;
    height: 40px;
    font-size: 14px;
    padding-left: 2%;
}

.register_text {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.5;
}

.stripped_underline {
    border-bottom: 2px dashed #e4e4e4;
}

.select {
    border: none;
    background: none;
    width: 100%;
}

.email_text {
    color: #FF4273;
}

.validation_failded {
    height: 45px;
    width: 43%;
    float: right;
    border: 2px solid #FF4273;
    margin-right: 5%;
    margin-bottom: 20px;
    padding-left: 2%;
}

.validation_failded input {
    font-size: 10px;
    padding-left: 2%;
    background: transparent;
}

.memebership_content {
    text-align: center;
    font-size: 30px;
}

p.text {
    color: #ababab;
    font-size: 15px;
    letter-spacing: 1px;
}

span.green {
    font-size: 30px;
}
.arrow {
    text-align: center;
}

.first-arrow {
    position: absolute;
    left: -10px;
    top: 15px;
}

.member-arrows {
    padding-top: 10px;
}

.first-arrow-add {
    position: absolute;
}

.first-num {
    position: absolute;
    top: 35px;
    font-size: 30px;
    color: white;
    left: 54px;
    font-weight: bolder;
}

.membership02 .col-md-6 {
    padding-right: 0;
}

.second-arrow {
    position: absolute;
    left: 10px;
}

.second-arrow-add {
    position: absolute;
    left: 30px;
}

.second-num {
    position: absolute;
    font-size: 30px;
    color: #686868;
    top: 25px;
    left: 60px;
}

.register-label {
    font-size: 12px;
    display: none;
}

.green-little-text {
    font-size: 13px;
}

.arrow-transform-left {
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
    width: 180%;
}

.arrow-transform-right {
    -ms-transform: rotate(75deg); /* IE 9 */
    -webkit-transform: rotate(75deg); /* Chrome, Safari, Opera */
    transform: rotate(75deg);
    width: 180%;
}
.third-arrow {
    -ms-transform: rotate(75deg); /* IE 9 */
    -webkit-transform: rotate(75deg); /* Chrome, Safari, Opera */
    transform: rotate(75deg);
    position: absolute;
    top: -15px;
    left: 0;
}

.third-arrow-add {
    position: absolute;
    left: 15px;
}

.third-num {
    position: absolute;
    font-size: 30px;
    color: #686868;
    top: 25px;
    left: 45px;
}

.grey-small-text {
    font-size: 13px;
    color: #ababab;
}


.membership-text {
    margin: 5%;
    text-align: center;
    min-height: 230px;
}

.text-days {
    position: absolute;
    left: 460px;
    color: #289E80;
    font-weight: bold;
    font-size: 166px;
}

.text-lower {
    position: absolute;
    left: 450px;
    top: 100px;
    font-size: 33px;
    letter-spacing: 4px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.video-item {
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.video-item p{
    margin-bottom: 0;
}

.video-item h4 {
    font-size: 23px;
    margin-bottom: 30px;
    color: #3e3e3e;
}

.green-small-text {
    font-size: 23px;
    color: #2bbc98;
    font-weight: bold
}

.green-small-text1 {
    font-size: 12px;
}

.small-text {
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.membership02 {
    margin-bottom: 110px;
}

.proceed {
    text-transform: uppercase;
    font-size: 12px;
}

.licence {
    margin-top: 100px;
    font-size: 10px;
    color: #e4e4e4;
    text-align: center;
}

.membship2 {
    margin-top: 200px;
    margin-bottom: 20px;
}

.single-item .row {
    padding: 0;
    margin: 0;
    background-color: white;
}

.single-item {
    margin-bottom: 35px;
    padding-right: 25px;
    padding-left: 25px;
}


.blank-text {
    font-size: 20px;
}

.blank-text:first-of-type {
    margin-top: 20px;
}

.register-btn {
    width: 100%;
    min-height: 60px;
    border: 2px solid #0eb598;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 25px;
}

.register-btn p {
    color: #0eb598;
    font-size: 13px;
    height: 30px;
    margin: 15px 15px 0 0;
}

.count-down {
    width: auto;
    border: 2px solid #e4e4e4;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: #0eb598;
}

p.register-text {
    font-size: 30px;
}

/*.membship2 .left_item, .membship2 .left_item_not_stripped {*/
    /*margin-left: 0;*/
    /*width: 200px;*/
    /*margin-right:50px;*/
/*}*/

/*.membship2 select {*/
    /*width: 170px;*/
/*}*/

/*.membship2 .right_item {*/
    /*margin-left: 0;*/
    /*width: 200px;*/
    /*float: left;*/
/*}*/

.right_item .form-group {
    color: #0eb598;
}

.arrow-reversed {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    float: right;
}

.mem-first-arrow-right {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    margin-top: -35px;
}

.mem-first-arrow-left {
    margin-top: -45px;
    padding-left: 130px;
}

.mem-second-arrow-left {
    padding-left: 175px;
}

.mem-second-arrow-right {
    padding-right: 245px;
}

.mem-third-arrow-left img {
    -ms-transform: rotate(-28deg); /* IE 9 */
    -webkit-transform: rotate(-28deg); /* Chrome, Safari, Opera */
    transform: rotate(-28deg);
}

.mem-third-arrow-left {
    padding-left: 135px;
}

.mem-third-arrow-right img {
    -ms-transform: rotate(150deg); /* IE 9 */
    -webkit-transform: rotate(150deg); /* Chrome, Safari, Opera */
    transform: rotate(150deg);
}

.membship2 .row {
    margin-top: 10px;
}

.membship2 .licence {
    text-align: center;
    margin-left: 23%;
}

.lowest-btn {
    width: 100%;
}

.membship5 ul {
    list-style-type: none;
    text-align: right;
    color: white;
}

.membship5 li {
    margin-bottom: 15px;
}

.membship5 h3 {
    text-align: right;
    color: white;
    margin-bottom: 20px;
}

.membship5 .content h3 {
    color: #878787;
    text-align: center;
    padding-top: 30px;
}

.membship5 .content p {
    color: #878787;
    font-size: 14px;
    padding: 60px;
}

.membship5 .container {
    margin-top: 50px;
}

li.active {
    /*border-bottom: 3px dashed white;*/
    text-decoration-style: dashed;
    text-decoration-line: underline;
}

.footer {
    color: white;
    margin-top: 70px;
}

.steps-title {
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    font-size: 22px;
}

/*membership*/
.membship1{
    background: url("../images/memberShip.png") no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-size: auto;
    height: 600px;
}

.membship2{
    background-color: white;
    height: auto;
}

.membship3{
    background-image: url("../images/membeshipGreen.png");
    height: auto;
    padding-bottom: 90px;
}

.membship4{
    height: 400px;
    background-image: url("../images/Untitled-4.png");
    background-size: cover;
    background-position: 50% 50%;
    background-color: #7f7367;
}

.membship5 {
    background-image: url("../images/membeshipGreen.png");
    height: auto;
    padding-bottom: 20px;
}

/*.elOne0{*/
    /*padding-right:0;*/
/*}*/

.textHeadMemb0 {
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.27em;
    font-size: 0.7em;
    padding-right: 0;
    text-align: right;
    padding-top: 2%;
}

.textHeadMemb1{
    text-transform: uppercase;
    color:#a8e9e8;
    font-size:9px;
    text-align: right;
    padding-right: 0;
}

.welcHead{
    color:#fffa69;
    margin-top: 3%;
    text-transform: uppercase;
    font-size: 1.8em;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 4px;
    text-align: center;
}

.welcHead1 h2 {
    font-weight: 900;
    font-size: 2.7em;
    margin-bottom: 0;
}

.welcHead1{
    color:white;
    text-transform: uppercase;
    text-align: center;
}

.header-last-mrow {
    position: relative;
}

.boxIcon {
    position: absolute;
    top: 20px;
    right: 0;
    padding-right: 0;
    width: 170px;
}

.elOne01 {
    padding-right: 0;
    width:140px;
}

.img-membership1 {
    height: 520px;
}

.membship0{
    background-color: rgba(6, 182, 164, 0.8);
    height: 600px;
}

.button1.lowest-btn .row .col-md-11.col-xs-11 {
    text-align: center;
}

/*mobile*/
@media (min-width: 300px) and (max-width: 991px) {

    .button2{
        margin-top:10%;
    }

    .copyright1{
        float: right;
    }

    .welkOrange{
        margin:3% auto;
    }

    .clickbt1{
        margin-top: 1%;
        text-align: left;
    }

    .icons{
        margin-top:3%;
    }

    .fe1del{
        text-align: left;
    }

    .button4{
        margin: 4% 25%;
    }

    .blockIconsMob{
        float:right;
    }

    .button4{
        position: relative;
    }

    .blockMob{
        position:absolute;
        top:260px;
        left:200px;
    }

    .container p.grey {
        margin-bottom: 10px;
        padding-top: 125px;
    }

    .container .row .col-md-3 .row .col-md-5 {
        margin-top: 100px;
    }

    .steps-title {
        margin-top: 100px;
    }

    .arrow + .col-md-3 .row .col-md-4 {
        margin-top: 100px;
        margin-left: 20px;
    }

    .arrow + .col-md-4 {
        margin-top: 100px;
    }

    .arrow + .col-md-4 .row .col-md-4 {
        margin-left: 25px;
    }

    .first-arrow-add {
        left: 35%;
    }

    .proceed {
        font-size: 12px;
        float: right;
    }

    p.register-text {
        padding: 5px 30px 30px 30px;
        margin: 0;
    }

    /*.membship2 .left_item, .membship2 .right_item {*/
        /*margin-left: 5%;*/
    /*}*/

    .licence {
        margin-top: 200px;
        margin-left: -50px;
    }

    .welcHead, .welcHead1, .logo1 {
        /*padding-left: 10%;*/
    }

    .button1.button_left_align div.row {
        margin-left: 0;
        margin-right: 0;
    }

    .button1.lowest-btn {
        margin-left: 0;
    }

    .blockMob .licence div {
        margin-top: -415px;
    }

    .membship1 .blockMob .licence div {
        margin-top: 0;
    }

    .copyright {
        padding: 0 40px 0 40px;
    }

}
@media screen and (max-width:767px) {

    .button2{
        margin-top:4%;
    }
    /*.proceed{*/
        /*padding-left: 4%;*/
    /*}*/
    .welkOrange{
        margin:0;
    }
}

@media (min-width: 320px) and (max-width: 359px) {
    .logo1 {
        text-align: center;
    }

    .memebership_content {
        margin-top: 287%;
        text-align: center;
        font-size: 23px;
    }

    .text-for-video {
        left: 10%;
        width: 80%;
    }

    .boxIcon div.row {
        text-align: center;
    }

    .membship0 .proceed {
        margin-top: -35px;
    }

    .text-days {
        font-size: 50px;
        position: static;
    }

    .text-lower {
        position: static;
        font-size: 13px;
    }

    .membership-text {
        min-height: 120px;
    }

    .membship2 + .container .row {
        text-align: center;
    }

    /*.first-arrow-add {*/
        /*position: absolute;*/
        /*left: 35%;*/
    /*}*/

    .first-arrow {
        position: absolute;
        left: 30%;
        top: 4px;
    }

    .first-num {
        left: 50%;
    }

    .arrow img {
        left: 45%;
    }

    .second-arrow {
        left: 30%;
    }

    .second-arrow-add {
        left: 35%;
    }

    .second-num {
        left: 45%;
    }

    .third-arrow {
        left: 30%;
    }

    .third-arrow-add {
        left: 30%;
    }

    .third-num {
        left: 40%;
    }

    /*.membship2 .left_item {*/
        /*float: left;*/
        /*margin: 0;*/
        /*width: 50%;*/
    /*}*/

    /*.membship2 .right_item {*/
        /*float: right;*/
        /*margin: 0;*/
        /*width: 50%;*/
    /*}*/
    .button1.lowest-btn .row .col-md-11.col-xs-11 {
        float: right;
        margin-top: -20px;
    }

    .button1.lowest-btn {
        font-size: 13px;
    }

    .proceed {
        font-size: 11px;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    .logo1 {
        text-align: center;
    }

    .memebership_content {
        margin-top:  990px;
        text-align: center;
        font-size: 27px;
    }

    .right_block {
        min-height: 490px;
    }

    .text-for-video {
        left: 10%;
        width: 80%;
    }

    .boxIcon div.row {
        text-align: center;
    }

    .text-days {
        font-size: 50px;
        position: static;
    }

    .text-lower {
        position: static;
        font-size: 13px;
    }

    .membership-text {
        min-height: 120px;
    }

    .membship2 + .container .row {
        text-align: center;
    }

    .first-arrow-add {
        position: absolute;
        left: 35%;
    }

    .first-arrow {
        position: absolute;
        left: 30%;
        top: 4px;
    }

    .first-num {
        left: 48%;
    }

    .arrow img {
        left: 45%;
    }

    .second-arrow {
        left: 30%;
    }

    .second-arrow-add {
        left: 35%;
    }

    .second-num {
        left: 45%;
    }

    .third-arrow {
        left: 30%;
    }

    .third-arrow-add {
        left: 30%;
    }

    .third-num {
        left: 40%;
    }
}

@media (min-width: 768px) and (max-width: 799px) {
    .logo1 {
        text-align: center;
    }

    .memebership_content {
        margin-top: 990px;
        text-align: center;
        font-size: 50px;
    }

    span.green {
        font-size: 50px;
    }

    .boxIcon div.row {
        text-align: center;
    }

    .button1.button_left_align {
        /*margin-left: 23%;*/
        margin-bottom: 110px;
    }

    .licence {
        margin-top: 135px;
        text-align: center;
        margin-left: 5%;
    }

    .blockIconsMob {
        margin-top: -30px;
    }

    .text-days {
        font-size: 70px;
        position: static;
    }

    .text-lower {
        position: static;
        font-size: 20px;
    }

    .membership-text {
        min-height: 120px;
    }

    /*.membship1 .button1 {*/
        /*margin-left: 25%;*/
    /*}*/

    .membship2 + .container .row {
        text-align: center;
    }

    .first-arrow-add {
        position: absolute;
        left: 45%;
    }

    .first-arrow {
        position: absolute;
        left: 41%;
        top: 4px;
    }

    .first-num {
        left: 50%;
    }

    .arrow img {
        left: 48%;
    }

    .second-arrow {
        left: 40%;
    }

    .second-arrow-add {
        left: 43%;
    }

    .second-num {
        left: 47%;
    }

    .third-arrow {
        left: 40%;
    }

    .third-arrow-add {
        left: 40%;
    }

    .third-num {
        left: 45%;
    }

    .button1 {
        padding-top: 2%;
        padding-bottom: 5%;
        padding-left: 4%;
    }

    .row.membship2 .row .col-md-10.col-md-offset-1 {
        margin-top: 45px;
    }

    .row.membship2 .licence div {
        margin-top: -430px;
        margin-left: -80px;
    }
}

@media (min-width: 800px) and (max-width: 979px) {
    .logo1 {
        text-align: center;
    }

    .memebership_content {
        margin-top: 990px;
        text-align: center;
        font-size: 50px;
    }

    span.green {
        font-size: 50px;
    }


    .boxIcon div.row {
        text-align: center;
    }

    .blockIconsMob {
        margin-top: 95px;
        text-align: center;
    }

    .licence {
        margin-top: 140px;
        margin-left: 0 !important;
    }

    .text-days {
        font-size: 70px;
        position: static;
    }

    .membship2 + .container .row {
        text-align: center;
    }

    .text-lower {
        position: static;
        font-size: 20px;
    }

    .membership-text {
        min-height: 120px;
    }

    .first-arrow-add {
        position: absolute;
        left: 45%;
    }

    .first-arrow {
        position: absolute;
        left: 41%;
        top: 4px;
    }

    .first-num {
        left: 50%;
    }

    .arrow img {
        left: 48%;
    }

    .second-arrow {
        left: 40%;
    }

    .second-arrow-add {
        left: 43%;
    }

    .second-num {
        left: 47%;
    }

    .third-arrow {
        left: 40%;
    }

    .third-arrow-add {
        left: 40%;
    }

    .third-num {
        left: 45%;
    }

    .row.membship2 .row .col-md-10.col-md-offset-1 {
        margin-top: 45px;
    }

    .row.membship2 .licence div {
        margin-top: -450px;
    }
}

@media (min-width: 980px) and (max-width: 1279px) {
    .logo1 {
        text-align: center;
    }

    .memebership_content {
        margin-top: 510px;
        text-align: center;
        font-size: 50px;
    }

    .right_block {
        min-height: 490px;
    }

    .membship1 .blockMob .licence {
        padding-bottom: 20px;
        margin-top: 40px;
    }

    span.green {
        font-size: 50px;
    }


    .boxIcon div.row {
        text-align: center;
    }

    .text-days {
        font-size: 70px;
        position: static;
    }

    .text-lower {
        position: static;
        font-size: 20px;
    }

    .membership-text {
        min-height: 120px;
    }

    .membship2 + .container .row {
        text-align: center;
    }

    .text-lower {
        position: static;
        font-size: 20px;
    }

    .membership-text {
        min-height: 120px;
    }

    .first-arrow-add {
        position: absolute;
        left: 0;
    }

    .first-arrow {
        position: absolute;
        left: -30%;
        top: 4px;
    }

    .first-num {
        left: 30%;
    }

    .arrow img {
        left: 48%;
    }

    .second-arrow {
        left: -8%;
    }

    .second-arrow-add {
        left: 5%;
    }

    .second-num {
        left: 47%;
    }

    .third-arrow {
        left: 0;
    }

    .third-arrow-add {
        left: 15%;
    }

    .third-num {
        left: 45%;
    }

    .blockIconsMob {
        text-align: center;
        padding-bottom: 20px;
    }

    .membship1 .blockMob .licence div {
        margin-top: -20px;
    }

    .right_block {
        min-height: 475px;
    }

    .licence {
        margin-top: 200px;
    }

    .proceed {
        font-size: 11px;
    }

    .container .row .col-md-3 .row .col-md-5 {
        margin-top: 30px;
    }

    .blockMob .licence div {
        margin-top: -460px;
    }

    div.col-md-offset-3:nth-child(2) {
        margin-top: 50px;
    }
}

@media (min-width: 1280px) and (max-width: 1799px) {
    .text-days {
        font-size: 100px;
        left: 30%;
    }

    .membship1 .blockMob .licence {
        padding-bottom: 20px;
        margin-top: 40px;
    }

    .text-lower {
        /*position: static;*/
        font-size: 25px;
        left: 29%;
        top: 60px;
    }

    .membership-text {
        min-height: 120px;
    }

    .membship2 .container .right_item {
        width: auto;
        float: left;
        margin-right: 3%;
        width: 200px;
    }

    .membship2 .container .left_item {
        margin-left: 0;
        width: auto;
        width: 200px;
        margin: 0 3% 1% 3%;
    }

    .mem-first-arrow-left {
        padding-left: 15%;
        margin-left: 3%;
    }

    .membship2 .container .left_item_not_stripped {
        width: 200px;
        margin: 0 3% 1% 6%;
    }

    .mem-second-arrow-left {
        padding-left: 22%;
    }

    .mem-third-arrow-left {
        padding-left: 17%;
        margin-left: 3%;
    }

    .membship2 .button1 {
        margin-left: 0;
    }

    .lowest-btn .col-xs-10 {
        margin-left: -30px;
    }

    .lowest-btn .col-xs-2 img {
        margin-left: 25%;
    }

    .third-arrow {
        left: -15%;
    }
}

@media (min-width: 1800px) {
    .content, .header, .footer, .header-container, .membership02, .membership-text1 {
        width: 1440px;
    }

    .clickbtFE2 {
        font-size: 1.7em;
    }

    .gaff .text-center {
        margin-left: 3px;
    }


    .gaff button {
        background-repeat: no-repeat;
        background-position: inherit;
        background-attachment: inherit;
        letter-spacing: 0.2em;
        font-size: 0.9em;
        width: 440px;
    }

    .gaff button .row .arrow {
        left: 30px;
        font-siz
    }

    .gaff button .row .arrow img {
        width: auto;
    }


    .blockText {
        font-size: 0.9em;
        margin-left: 15%;
        margin-top: 1%;
        margin-bottom: 3%;
    }

    .membership02 {
        margin-bottom: 110px;
        padding-right: 3%;
        padding-left: 5%;
    }

    .blockImg {
        width: 4.2%;
    }

    .icons-block {
        width: 390px;
    }

    .membship2 .container .right_item {
        width: auto;
        float: left;
        margin-right: 3%;
        width: 200px;
    }

    .membship2 .container .left_item {
        margin-left: 0;
        width: auto;
        width: 200px;
        margin: 0 3% 1% 3%;
    }

    .mem-first-arrow-left {
        padding-left: 15%;
        margin-left: 3%;
    }

    .membship2 .container .left_item_not_stripped {
        width: 200px;
        margin: 0 3% 1% 6%;
    }

    .mem-second-arrow-left {
        padding-left: 22%;
    }

    .mem-third-arrow-left {
        padding-left: 17%;
        margin-left: 3%;
    }

    .membship2 .button1 {
        margin-left: 20%;
    }

    .lowest-btn .col-xs-10 {
        margin-left: -30px;
    }

    .lowest-btn .col-xs-2 img {
        margin-left: 25%;
    }

    .row.membship2 .blockMob .licence div {
        margin-left: 25px;
    }
}