.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
    padding: 20px 5px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

.glyphicon1 {
    padding: 13px 35px !important;
}

.nav>li>a:hover {
    background-color: #2d7968;
    color: white;
}

.table>thead>tr>th {
    border-bottom: 1px solid #f1f1f1;
}

.dashboard-container {
    width: 100%;
    margin: 0;
}

.alert-info .alert-link {
    color: #7f8886;
}

.alert .alert-link {
    font-weight: 100;
}

.table {
    margin-bottom: 0;
}

.table-responsive {
    overflow-x: hidden;
}

.table>tbody>tr>th {
    border-top: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.dashboard {
    width:100%;
    background-color:#f3f8f7;
}

/******************left menu dashboard************************/
.dashboard .sidebar {
    padding: 20px;
    background: url(../images/bk.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 10.3%;
}

.dashboard .nav-sidebar {
    margin: 15px -21px 20px -25px;
}

.dashboard .in a {
    color: #ade7df;
}

.dashboard .logoYellow {
    margin-bottom: 20px;
    padding-left: 25px;
    margin-top: 12px;
}

.dashboard .glyphicon  {
    display: block;
    height: 20px;
    width: 24%;
    float: left;
    padding-left: 17%;
}

.dashboard .glyphicon1 {
    white-space: nowrap;
}

.dashboard a:hover i.glyphicon {
    padding-left: 17%;
}

.dashboard .glyphicon2 {
    background: url(../images/svg/bullseye.svg) no-repeat;
}

.dashboard a:hover i.glyphicon2 {
    background: url("../images/svg/bullseye-white.svg") no-repeat;
}

.dashboard .glyphicon3 {
    background: url(../images/svg/user_square.svg) no-repeat;
}

.dashboard a:hover i.glyphicon3 {
    background: url("../images/svg/user_square_white.svg") no-repeat;
}

.dashboard .glyphicon4 {
    padding-top: 1%;
    background: url(../images/svg/credit_card.svg) no-repeat;
}

.dashboard a:hover i.glyphicon4 {
    background: url("../images/svg/credit_card-white.svg") no-repeat;
}

.dashboard .glyphicon5 {
    background: url(../images/svg/map.svg) no-repeat;
}

.dashboard a:hover i.glyphicon5 {
    background: url("../images/svg/mail-white.svg") no-repeat;
}

.dashboard .glyphicon6 {
    background: url(../images/svg/list_2.svg) no-repeat;
}

.dashboard a:hover i.glyphicon6 {
    background: url("../images/svg/list_2_white.svg") no-repeat;
}

.dashboard .glyphicon7 {
    background: url(../images/svg/map.svg) no-repeat;
}

.dashboard a:hover i.glyphicon7 {
    background: url("../images/svg/map-white.svg") no-repeat;
}
/*************************right block with table*********************/
.dashboard .main {
    padding-right: 0;
    padding-left: 40px;
    padding-top: 27px;
    width: 88%;
}

.dashboard .headerTbD1 {
    text-align: center;
    border-right: none !important;
}

.dashboard .table-top {
    background-color: white !important;
}

.dashboard .dbTb01 {
    width: 240px;
}

.dashboard .dbTb02 {
    width: 230px;
}

.dashboard .dbTb03 {
    width: 180px;
}

.dashboard .dbTb04 {
    width: 800px;
}

.dashboard .dbTb05 {
    border-left: 1px solid #f1f1f1;
    width: 390px;
    border-right: none !important;
}

.dashboard .headtextDB1 {
    margin-bottom: 2%;
    color: #b1b1b1;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing:1px;
}

.dashboard .headtextDB {
    color: #707876;
}

.dashboard .your-position {
    width: 13%;
    padding-right: 0;
}

.dashboard .yPosDb {
    font-size: 25px;
}

.dashboard .iconTDb0 {
    margin-top: 12px;
    padding: 0;
    width: 4%;
}

.dashboard .iconTDb {
    padding-left: 4px;
    font-size: 10px;
}

.dashboard .littleZir {
    font-size: 16px;
    font-weight: 100;
}

.dashboard .tableDB {
    background-color:white;
    position: relative;
}

.dashboard .little1 {
    color: #b1b1b1;
    font-size: 12px;
    font-weight:100;
}

.dashboard .dbTb {
    border-right: 1px solid #f1f1f1;
}

.dashboard .dbTB1 {
    border-left: 1px solid #f1f1f1;
}

.dashboard .tableDb-header {
    border-top: 1px solid #f1f1f1;;
}

.dashboard .tableDb tr td {
    border-top: 0 !important;
    border-right: 1px solid #f1f1f1;
}

.dashboard .headerTbD {
    color: #b1b0b0;
    text-transform: uppercase;
    font-weight:100;
    border-top:none;
    border-right: 1px solid #ddd;
    font-size: 12px;
    padding: 15px 20px !important;
}

.dashboard .buttonInTable {
    background: url(../images/RoundedRectangle2.jpg) no-repeat;
    color: white;
    padding: 10px 25px;
    border-radius: 3px;
    font-weight: lighter;
    display: block;
    font-size: 13px;
    text-align: center;
    background-size: cover;
    letter-spacing: 1px;
}

.dashboard .buttonInTable9:hover {
    text-decoration: none;
}

.dashboard .dashboard-question1 {
    padding-top: 2%;
}

.dashboard .th-text3 {
    padding-right: 0;
}

.dashboard .td1 {
    font-weight: bold;
    text-align: left;
    width: 25%;
}

.dashboard .td2 {
    text-transform: uppercase;
    color:#9f9f9f;
    text-align: left;
    font-size: 12px;
    width: 17%;
}

.dashboard .td3 {
    text-align: left;
    color: #06b6a4;
    font-size: 12px;
    font-weight: bold;
    width: 15%
}

.dashboard .td3-yellow {
    color: #e9ca3d;
}

.dashboard .td3-red {
    color: #ef5770;
}

.dashboard .td4, .td5 {
    text-align: left;
    color: #9f9f9f;
    font-size: 12px;
}

.dashboard .td4 {
    width: 20%;
}

.dashboard .td5 {
    width: 27%;
}

.dashboard .td1, .td2, .td3, .td4, .td5, .td6 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-size: 14px;
    padding-left: 20px !important;
}

.dashboard .td6 {
    text-align: center;
    width: 5%;
    padding-left: 0 !important;
    border-right: none !important;
}

.dashboard .th-icon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 60px;
    height: 35px;
}

.dashboard .imgTbDB {
    width: 50%;
}

.dashboard .icons-text {
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: 10px;
}

.dashboard .th-icon1 {
    padding-top: 4%;
}

.dashboard .dashboard-question {
    padding-right: 0;
}

.dashboard .dashboard-button {
    display: inline-block;
    white-space: nowrap;
}

.dashboard .th-text {
    font-size: 21px;
}

.dashboard .td6 img {
    width: 25%;
}

.dashboard .table-top .th-text {
    color: #606967;
}

/***************alert dashboard***********************/
.dashboard .alertDashb {
    background-color: white;
    border: none;
    width: 16%;
    position: absolute;
    top: 3%;
    right: 5%;
    padding-left: 0;
}

.dashboard .alert-link {
    color:#7f8886;
    font-size: 11px;
    font-weight: lighter;
}

.dashboard .th-icon2 {
    margin-top: 2%;
}

/****************dashboard footer*********************/
.dashboard .fnavigation-dashboard {
    padding-left: 0;
}

.dashboard .dashboard-footer {
    margin-top: 15px;
}

.dashboard .fnavigation-dashboard li a {
    color:#c2cdcb;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.dashboard .fnavigation-dashboard li {
    display: inline;
}

.dashboard .copyright2 {
    font-size: 10px;
    color: #c2cdcb;
    text-align: right;
    padding-right: 0;
    padding-left: 0;
    width: 13.66666667%;
}

.dashboard .dashboard-footer ul > li:after {
    content: ' | ';
    color: #c2cdcb;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.dashboard .dashboard-footer ul > li:last-child:after {
    content: '';
}

.dashboard .dsh-bottom-menu {
    text-align: right;
    padding-right: 0;
    width: 86.33333333%;
}

/****************tablets/mobiles*********************/

@media (min-width: 200px) and (max-width: 991px) {
    .dashboard .sidebar {
        padding: 20px;
        background: url(../images/bk.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    }

    .dashboard .nav-sidebar {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        text-align: center;
    }

    .dashboard .alertDashb {
        display: none;
    }

    .dashboard .glyphicon1 {
        padding-left: 35% !important;
        padding-right: 38% !important;
    }

    .dashboard .your-position {
        width: 50%;
    }

    .dashboard .yPosDb {
        font-size: 20px;
    }

    .dashboard .iconTDb0 {
        width: 16%;
        margin-top: 5px;
    }

    .dashboard .main {
        padding-left: 5px;
        width: 95%;
    }

    .dashboard .headtextDB1 {
        font-size: 9px;
    }

    .dashboard .tableDB {
        overflow-x: visible;
    }

    .dashboard .dsh-bottom-menu {
        text-align: center;
        width: 100%;
    }

    .dashboard .copyright2 {
        text-align: center;
        width: 100%;
    }

    .dashboard .dbTb04 {
        display: none;
    }

}

@media (min-width: 992px) and (max-width: 1399px) {

    .dashboard .main {
        width: 83%;
        padding-left: 30px;
    }

    .dashboard .sidebar {
        width: 15.3%;
    }

    .dashboard .your-position {
        width: 20%;
    }

    .dashboard .yPosDb {
        font-size: 20px;
    }

    .dashboard .iconTDb0 {
        width: 7%;
        margin-top: 6px;
    }

    .dashboard .headtextDB1 {
        font-size: 9px;
    }

    .dashboard .th-text {
        font-size: 16px;
    }

    .dashboard .littleZir {
        font-size: 13px;
        font-weight: 100;
    }

    .dashboard .little1 {
        color: #b1b1b1;
        font-size: 9px;
        font-weight: 100;
    }

    .dashboard .th-icon {
        width: 40px;
    }

    .dashboard .dbTb01 {
        width: 375px;
    }

    .dashboard .dbTb02 {
        width: 350px;
    }

    .dashboard .buttonInTable {
        padding: 10px 5px;
    }

    .dashboard .dbTb05 {
        width: 950px;
    }

    .dashboard .icons-text{
        margin-right: 0;
    }

    .dashboard .headerTbD {
        font-size: 10px;
    }

    .dashboard .td1, .dashboard .td2, .dashboard .td3, .dashboard .td4, .dashboard .td5, .dashboard .td6 {
        font-size: 12px;
        padding-left: 10px !important;
    }

    .dashboard .alertDashb {
        width: 30%;
        top: 0;
        right: 2%;
    }

    .dashboard .dsh-bottom-menu {
        width: 86.33333333%;
    }

    .dashboard .copyright2 {
        font-size: 8px;
        width: 24.66666667%;
    }

    .dashboard .dsh-bottom-menu {
        width: 75.33333333%;
    }

    .dashboard .fnavigation-dashboard li a {
        color: #c2cdcb;
        font-size: 8px;
    }

}

@media (min-width: 1400px) and (max-width: 1799px) {
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 20px 5px;
    }

    .dashboard .dbTb01 {
        width: 245px;
    }

    .dashboard .dbTb02 {
        width: 210px;
    }

    .dashboard .dbTb04 {
        width: 530px;
    }

    .dashboard .td1 {
        width: 30%;
    }

    .dashboard .th-text {
        font-size: 19px;
    }

    .dashboard .buttonInTable {
        padding: 10px 16px;
    }

    .dashboard .little1 {
        color: #b1b1b1;
        font-size: 10px;
        font-weight: 100;
    }

    .dashboard .sidebar {
        width: 11.3%;
    }

    .dashboard .main {
        width: 87%;
    }

    .dashboard .alertDashb {
        width: 22%;
        top: 3%;
        right: 4%;
    }

    .dashboard .dsh-bottom-menu {
        width: 81.33333333%;
    }

    .dashboard .copyright2 {
        width: 18.66666667%;
    }

    .dashboard .your-position {
        width: 18%;
    }

    .dashboard .iconTDb0 {
        width: 5%;
    }
}
