@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat-Bold.ttf);
}

.glyphicon1 {
    padding: 10px 35px !important;
}

.nav>li>a:hover {
    background-color: #2d7968;
    color: white;
}

.table>thead>tr>th {
    border-bottom: 1px solid #f1f1f1;
}

.dashboard-container {
    width: 100%;
    margin: 0;
}


.alert-info .alert-link {
    color: #7f8886;
}

.alert .alert-link {
    font-weight: 100;
}

.table {
    margin-bottom: 0px;
}

.table-responsive {
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width:100%;
    background-color:#f3f8f7;
}

.table>tbody>tr>th {
    border-top: none;
}

/******************left menu dashboard************************/
.sidebar {
    padding: 20px;
    background: url(../images/bk.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    width: 12%;
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -25px;
}

.in a {
    color: #ade7df;
}

.logoYellow {
    margin-bottom:20px;
    padding-left: 25px;
}

.glyphicon  {
    display: block;
    height: 20px;
    width: 28%;
    float: left;
    padding-left: 17%;
}

.glyphicon1 {
    white-space: nowrap;
}

a:hover i.glyphicon {
    padding-left: 17%;
}

.glyphicon2 {
    background: url(../images/dashboard/positions1.png) no-repeat;
}

a:hover i.glyphicon2 {
    background: url("../images/dashboard/positions.png") no-repeat;
}

.glyphicon3 {
    background: url(../images/dashboard/user.png) no-repeat;
}

a:hover i.glyphicon3 {
    background: url("../images/dashboard/user1.png") no-repeat;
}

.glyphicon4 {
    padding-top: 1%;
    background: url(../images/dashboard/billing.png) no-repeat;
}

a:hover i.glyphicon4 {
    background: url("../images/dashboard/billing1.png") no-repeat;
}

.glyphicon5 {
    background: url(../images/dashboard/guide.png) no-repeat;
}

a:hover i.glyphicon5 {
    background: url("../images/dashboard/guide1.png") no-repeat;
}

.glyphicon6 {
    background: url(../images/dashboard/list.png) no-repeat;
}

a:hover i.glyphicon6 {
    background: url("../images/dashboard/list1.png") no-repeat;
}

.glyphicon7 {
    background: url(../images/dashboard/letter.png) no-repeat;
}

a:hover i.glyphicon7 {
    background: url("../images/dashboard/letter1.png") no-repeat;
}
/*************************right block with table*********************/
.main {
    padding-right: 40px;
    padding-left: 40px;
    padding: 20px;
    width: 88%;
}

.headerTbD1 {
    text-align: center;
}

.table-top {
    background-color: white !important;
}

.dbTb01 {
    width: 180px;
}

.dbTb02 {
    width: 180px;
}

.dbTb03 {
    width: 180px;
}

.dbTb04 {
    width: 800px;
}

.dbTb05 {
    width: 480px;
}

.headtextDB1 {
    margin-bottom: 3%;
    color: #b1b1b1;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing:1px;
}

.headtextDB {
    color: #707876;
}

.your-position {
    width: 11%;
    padding-right: 0;
}

.yPosDb {
    font-size:18px;
}

.iconTDb0 {
    margin-top:5px;
    padding: 0;
    width:5%;
}

.iconTDb {
    padding-left: 7px;
    font-size: 10px;
}


.littleZir {
    font-size:10px;
    font-weight:100;
}

.tableDB {
    background-color:white;
    position: relative;
}

.little1 {
    color: #b1b1b1;
    font-size: 8px;
    font-weight:100;
}

.dbTb {
    border-right: 1px solid #f1f1f1;
}

.dbTB1 {
    border-left: 1px solid #f1f1f1;
}

.tableDb-header {
    border-top: 1px solid #f1f1f1;;
}

.buttonInTable {
    background-image: url(images/bg.jpg);
}

.tableDb tr td {
    border-top: 0px !important;
    border-right: 1px solid #f1f1f1;
}

.headerTbD {
    color: #b1b0b0;
    font-size:9px;
    text-transform: uppercase;
    font-weight:100;
    border-top:none;
    border-right: 1px solid #ddd;
}

.buttonInTable {
    background: url(../images/RoundedRectangle2.jpg) no-repeat;
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    display: block;
    font-size: 9px;
    text-align: center;
    background-size: cover;
    letter-spacing: 1px;
    padding-right: 2%;
    padding-left: 2%;
    width: 110px;
}

.buttonInTable9:hover {
    text-decoration: none;
}

.dashboard-question1 {
    padding-top: 2%;
}

.th-text3 {
    padding-right: 0;
}

.td1 {
    font-weight: bold;
    text-align: left;
    font-size: 12px;
}

.td2 {
    text-transform: uppercase;
    color:#9f9f9f;
    text-align: left;
    font-size: 12px;
}

.td3 {
    text-align: left;
    color: #06b6a4;
    font-size: 12px;
    font-weight: bold;
}

.td3-yellow {
    color: #e9ca3d;
}

.td3-red {
    color: #ef5770;
}

.td4, .td5 {
    text-align: left;
    color: #9f9f9f;
    font-size: 12px;
}

.td6 {
    text-align: center;
}

.th-icon {
    padding: 1% 0 0 0;
}

.th-icon1 {
    padding-top: 4%;
}

.dashboard-question {
    padding-right: 0;
}

.dashboard-button {
    padding-left: 0;
}

.th-text {
    padding-left: 0;
}

/***************alert dashboard***********************/
.alertDashb {
    background-color: white;
    border: none;
    width: 25%;
    position: absolute;
    top: 1%;
    left: -1%;
}

.alert-link {
    color:#7f8886;
    font-size:12px;
    font-weight: lighter;
}

.th-icon2 {
    margin-top: 2%;
}

/****************dashboard footer*********************/
.fnavigation-dashboard {
    padding-left: 0;
}

.dashboard-footer {
    margin-top: 50px;
}

.fnavigation-dashboard li a {
    color:#c2cdcb;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.fnavigation-dashboard li {
    display: inline;
}

.fnavigation-dashboard li:after {
    content: " | ";
    color: #c2cdcb;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.fnavigation-dashboard:last-child:after {
    content: "";
}

.copyright2 {
    padding-top: 3px;
    font-size: 10px;
    color:#c2cdcb;
    text-align: right;
    padding-right: 0;
}

/****************tablets/mobiles*********************/

@media (min-width: 200px) and (max-width: 1110px) {
    .sidebar {
        padding: 20px;
        background: url(../images/bk.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    }

    .nav-sidebar {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        text-align: center;
    }

    .alertDashb {
        display: none;
    }

    .your-position {
        width: 25%;
    }

    .iconTDb0 {
        width: 10%;
    }

    .glyphicon1 {
        padding-left: 40% !important;
        padding-right: 38% !important;
    }

}