/***************common styles**************************/
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select.select-register:focus {
    border: 2px solid #21c0ac;
    outline: none;
    color: #21c0ac;
    border-radius: 0;
}

.modal-content {
    border: none;
    border-radius: 0;
    padding: 10px;
}

.modal-dialog {
    width: 490px;
}

.modal .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*********************************login popup************************************/
.login-popup {
    background-color: #06b6a4;
    background: rgb(45,168,115); /* Old browsers */
    background: -moz-linear-gradient(45deg,  rgba(45,168,115, 0.5) 0%, rgba(15,170,156, 0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  rgba(45,168,115, 0.5) 0%,rgba(15,170,156,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  rgba(45,168,115,0.5) 0%,rgba(15,170,156,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2da873', endColorstr='#0faa9c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.login-popup .login-logo {
    position: absolute;
    top: -15%;
    left: 50%;
    width: 29%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-popup .login-close {
    padding: 1%;
}

.login-popup .login-lower-arrow {
    position: absolute;
    top: 20px;
    left: 10px;
}

.login-popup .login-upper-arrow {
    position: absolute;
    top: 35px;
    left: 30px;
}

.login-popup p {
    font-size: 1.75em;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 75px;
    line-height: 1.2;
}

.login-popup p span{
    font-weight: bolder;
    border-bottom: 2px dashed #e4e4e4;
}

.login-popup .login-form {
    text-align: center;
    padding-top: 30px;
}

.login-popup input#login, .login-popup input#password {
    width: 87%;
    margin-bottom: 20px;
}

.login-popup input {
    font-family: 'Open Sans', sans-serif;
    color: #b0b0b0;
    border: 2px dashed #e4e4e4;
}

.login-popup .form-fields input {
    padding: 10px;
    vertical-align: middle;
    text-align: left;
}

.login-popup .action-form button {
    width: 410px;
}

.login-popup button .row {
     margin: 25px 0;
     position: relative;
     padding: 0;
 }

.login-popup .login-form  button {
    letter-spacing: 0.2em;
    font-size: 1em;
}

.login-popup .login-form  button .row .arrow {
    left: 20px;
    position: absolute;
    top: 50%;
    margin: 0;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.login-popup .login-form button .row .arrow img {
    width: auto;
}

.login-popup .login-form button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #06b6a4;
    background: -webkit-linear-gradient(left, #06b6a4 0%,#27b378 100%);
    background: -moz-linear-gradient(left, #06b6a4 0%, #27b378 100%);
    background: linear-gradient(to right, #06b6a4 0%,#27b378 100%);
    color: white;
    font-weight: bold;
    margin: 20px auto 0 auto;
    width: 45%;
    font-size: 1em;
    display: inline-block;
    outline: none;
}

.login-popup button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: none;
    border: 0;
    color: inherit;
    cursor: hand;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.login-popup p.forgot-password {
    padding-top: 20px;
    padding-bottom: 20px;
}

.login-popup p.forgot-password a{
    text-decoration: none;
    font-size: 0.55em;
    color: #b0b0b0;
}

/**************************mobiles, tablets (login popup)*************************/

@media (max-width: 991px) {

    .modal-dialog {
        margin-top: 100px;
        margin: 100px auto 0 auto;
    }

    .modal-dialog {
        width: 70%;
    }

    .login-popup button .row {
        margin: 20px 0;
    }

    .login-popup .login-lower-arrow {
        top: 1px;
        left: 1px;
    }

    .login-popup .login-upper-arrow {
        top: 10px;
        left: 30px;
    }

    .login-popup .login-form button {
        width: 53%;
    }
}

@media (max-width: 450px) {

    .modal-dialog {
        width: 100%;
    }

    .login-popup .login-form button {
        width: 80%;
    }

    .login-popup .login-logo {
        position: absolute;
        top: -10%;
        left: 50%;
        width: 33%;
    }
}

/**************************end mobiles, tablets*************************/
